:root:root:root:root:root:root:root:root, :host {
  --uclearn-filters-src: "chrome-extension://__MSG_@@extension_id__/filters.svg";
  --uclearn-graph-translucent-filter: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxmaWx0ZXIgaWQ9ImdyYXBoVHJhbnNsdWNlbnQiPjxmZUNvbG9yTWF0cml4IGluPSJTb3VyY2VHcmFwaGljIiB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMSAwIDAgMCAwCjAgMSAwIDAgMAowIDAgMSAwIDAKLTIgLTEgMCAyIDAiPjwvZmVDb2xvck1hdHJpeD48L2ZpbHRlcj48L3N2Zz4=#graphTranslucent");
  --uclearn-translucent-filter: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxmaWx0ZXIgaWQ9InRyYW5zbHVjZW50QmciPjxmZUNvbG9yTWF0cml4IGluPSJTb3VyY2VHcmFwaGljIiB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMSAwIDAgMCAwCjAgMSAwIDAgMAowIDAgMSAwIDAKLTAuODUwNCAtMi44NjA4IC0wLjI4ODggNCAwIj48L2ZlQ29sb3JNYXRyaXg+PC9maWx0ZXI+PC9zdmc+#translucentBg");
  --uclearn-icon-lock: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWxvY2siPjxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxMSIgeD0iMyIgeT0iMTEiIHJ4PSIyIiByeT0iMiIvPjxwYXRoIGQ9Ik03IDExVjdhNSA1IDAgMCAxIDEwIDB2NCIvPjwvc3ZnPg==");
  --uclearn-icon-cv-down: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tZG93biI+PHBhdGggZD0ibTYgOSA2IDYgNi02Ii8+PC9zdmc+");
  --uclearn-small-screen-size: var(--breakpoint-lg, 992px);
  --uclearn-background-image: url("chrome-extension://__MSG_@@extension_id__/background.png");
  --uclearn-foreground: light-dark(#000, #fff);
  --uclearn-background: light-dark(#fff, #1e1e1e);
  --uclearn-foreground-muted: hsl(from var(--uclearn-foreground) h s calc(20 + .6 * l));
  --uclearn-translucent-bg: rgb(from var(--uclearn-background) r g b / .5);
  --uclearn-bg-effect: blur(10px);
  --uclearn-hover-tint: #80808040;
  --uclearn-active-tint: #80808080;
  --uclearn-accent-color: #ce3e2e;
  --uclearn-shadow-color: #00000080;
  --uclearn-color-error: red;
  --uclearn-color-warning: #ff0;
  --uclearn-color-success: #0f0;
  --uclearn-color-complete: #0060bf;
  --uclearn-color-code: #ff008c;
  --uclearn-color-link: color-mix(in srgb, var(--uclearn-foreground) 50%, #0060bf 50%);
  --uclearn-card-background: var(--uclearn-translucent-bg);
  --uclearn-section-background: var(--uclearn-translucent-bg);
  --uclearn-focus-shadow: 0 0 0 .15rem #0f6cbf, 0 0 0 .3rem #0f6cbfbf;
  --uclearn-focus-shadow-inset: inset 0 0 0 .15rem #0f6cbf, inset 0 0 0 .3rem #0f6cbfbf;
  --uclearn-transition-short-duration: .25s;
  --uclearn-transition-short-function: ease;
  --uclearn-transition-short: var(--uclearn-transition-short-duration) var(--uclearn-transition-short-function);
  --uclearn-radius: 10px;
  --uclearn-font-stack: "Open Sans", sans-serif;
  --uclearn-code-stack: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  @media (prefers-color-scheme: dark) {
    & {
      color-scheme: dark;
    }
  }

  &.uclearn-dark-mode {
    color-scheme: dark;
  }

  &.uclearn-light-mode {
    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    & {
      --uclearn-background-image: linear-gradient(0deg, var(--uclearn-translucent-bg), var(--uclearn-translucent-bg)), url("chrome-extension://__MSG_@@extension_id__/background.png");
    }
  }
}

:root:root:root:root:root:root:root:root {
  background-image: var(--uclearn-background-image);
  color: var(--uclearn-foreground);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  & #uc {
    display: none;
  }

  & #outer-container {
    top: 0 !important;
  }

  & .aplus-container {
    max-width: none;
    color: inherit;
    background-color: #0000;
  }

  & .aplus-container #dialog {
    background-color: var(--uclearn-translucent-bg);
    backdrop-filter: var(--uclearn-bg-effect);
    box-shadow: 0 0 20px 0 var(--uclearn-shadow-color);
  }

  & .module {
    border-radius: var(--uclearn-radius);
    background-color: #0000;
    border: none;
    position: relative;

    &:before {
      content: "";
      background-color: var(--uclearn-translucent-bg);
      backdrop-filter: var(--uclearn-bg-effect);
      z-index: -1;
      position: absolute;
      inset: 0;
    }
  }

  & .aplus-container .profile .module .profile-info {
    border: none;
    min-height: 0;
  }

  & .dhx_cal_tab, & .dhx_cal_date, & .dhx_cal_today_button, & .dhx_cal_prev_button, & .dhx_cal_next_button {
    color: var(--uclearn-foreground-muted);
  }

  & .dhx_cal_container, & .dhx_scale_bar, & .dhx_scale_hour, & .aplus-container .subject-list li {
    background-color: #0000;
  }

  & .aplus-container .subject-list li.__uclearn-activity-hover {
    background-color: var(--uclearn-active-tint);
  }

  & .aplus-container .module .lower_sec, & .dhx_cal_data {
    scrollbar-color: currentColor transparent;
  }

  & .aplus-container .module .lower_sec:has( > .subject-list) {
    padding-inline: 0;
  }

  & .dhx_scale_hour, & .dhx_scale_holder:has(.dhx_scale_hour):after {
    box-sizing: border-box;
    color: var(--uclearn-foreground-muted);
    border: none;
    align-content: center;
    transform: translateY(-50%);
    height: 66px !important;
  }

  & .dhx_scale_holder {
    background-image: linear-gradient(to bottom, transparent 0% 50%, var(--uclearn-hover-tint) 50% calc(50% + 1px), transparent calc(50% + 1px) calc(100% - 1px), var(--uclearn-active-tint) calc(100% - 1px) 100%);
    background-size: auto 44px;
    background-origin: content-box;
    padding-block: .5em;

    .aplus-container & {
      background-size: auto 33px;
    }

    & > :not(.dhx_scale_hour) {
      margin-top: .5em;
    }

    &:has(.dhx_scale_hour) {
      background-image: none;

      &:after {
        content: "12:00 PM";
        width: 50px;
        display: block;
        position: absolute;
        bottom: -.5em;
        height: auto !important;
      }
    }
  }

  & .aplus-container .top-bar {
    background-color: var(--uclearn-accent-color);
  }

  & #livecal_dropdown_trigger:after {
    content: "";
    aspect-ratio: 1;
    height: 1lh;
    mask-image: var(--uclearn-icon-cv-down);
    vertical-align: middle;
    background-color: #fff;
    margin-left: .5ch;
    display: inline-block;
    mask-size: contain;
  }

  & .aplus-container ul.top-menu li a {
    color: inherit;
    transition: background-color var(--uclearn-transition-short);

    &:is(:hover, :focus) {
      background-color: var(--uclearn-hover-tint);
    }

    &:active {
      background-color: var(--uclearn-active-tint);
    }
  }

  & .aplus-container input.text {
    background-color: var(--uclearn-translucent-bg);
  }

  & .ui-tooltip {
    background: var(--uclearn-translucent-bg);
    backdrop-filter: var(--uclearn-bg-effect);
    color: inherit;
    box-shadow: 1px 2px 5px var(--uclearn-shadow-color);
    padding: calc(var(--uclearn-radius) / 2);
    border-radius: calc(var(--uclearn-radius) / 2);
    border: none;
  }

  & .aplus-container {
    grid: "nav nav nav" min-content
          "left-top center right" min-content
          "left-center center right" 1fr
          "left-bottom center right" min-content
          / minmax(min-content, 25%) minmax(min-content, 3fr) auto;
    display: grid;

    & h1 {
      position: static;
    }

    & .dropdown-menu {
      background-color: var(--uclearn-translucent-bg);
      backdrop-filter: var(--uclearn-bg-effect);
      padding: 0;
      overflow: auto;

      & li {
        color: inherit;
      }
    }

    & .dhx_cal_event {
      box-sizing: border-box;
      flex-direction: column;
      padding: 0;
      display: flex;
      overflow: visible;

      & > div:not(.__uclearn-timeline) {
        color: inherit;
        backdrop-filter: var(--uclearn-bg-effect);
        border-radius: 0 0 4px 4px;
        flex: auto;
        margin: 0;
        border: none !important;
        width: auto !important;
        height: auto !important;
      }

      &.event_color_default > div:not(.__uclearn-timeline) {
        background-color: color-mix(in srgb, var(--uclearn-translucent-bg) 70%, var(--uclearn-color-complete)) !important;
      }

      &.event_nocolor_default_dashed > div:not(.__uclearn-timeline) {
        background-color: #4477bb40 !important;
      }

      &.__uclearn-alternative-event > div:not(.__uclearn-timeline) {
        opacity: .5;
      }

      &.__uclearn-unavailable > div:not(.__uclearn-timeline) {
        background-color: color-mix(in srgb, var(--uclearn-translucent-bg) 70%, var(--uclearn-color-error)) !important;
      }

      &.__uclearn-readonly > div:not(.__uclearn-timeline) {
        background-color: color-mix(in srgb, var(--uclearn-translucent-bg) 70%, var(--uclearn-color-warning)) !important;
      }

      &.__uclearn-unassigned-readonly > div:not(.__uclearn-timeline) {
        background-color: color-mix(in srgb, var(--uclearn-translucent-bg) 60%, var(--uclearn-foreground)) !important;
      }

      &:is(.__uclearn-readonly, .__uclearn-no-alternatives):not(.__uclearn-alternative-event):after {
        content: "";
        aspect-ratio: 1;
        width: 1.4em;
        mask-image: var(--uclearn-icon-lock);
        background-color: #fff;
        position: absolute;
        bottom: 5px;
        right: 5px;
        mask-size: contain;
      }

      &:hover {
        z-index: 10;
        min-width: min-content;
        min-height: max-content;
        box-shadow: inset 0 0 0 100vmax var(--uclearn-active-tint);
      }

      &.__uclearn-activity-hover {
        box-shadow: inset 0 0 0 100vmax var(--uclearn-active-tint);
      }
    }

    & .aplus-table thead {
      background-color: #0000;
    }

    & .tr-shade:hover, & .th, & .aplus-table th {
      background-color: var(--uclearn-hover-tint);
      color: inherit;
    }

    & .spinner {
      background-color: var(--uclearn-translucent-bg);
      opacity: 1;
      position: fixed;
    }

    & a, & .subject-list .arrow-container {
      color: var(--uclearn-color-link);
    }

    & .subject-list small {
      color: var(--uclearn-foreground-muted);
    }

    @media (prefers-color-scheme: dark) {
      & .subject-list .sprite {
        filter: invert() hue-rotate(180deg);
      }
    }

    & .dropdown button {
      background-color: var(--uclearn-translucent-bg);
      color: inherit;

      & .caret {
        border-top-color: currentColor;
      }
    }

    & .module {
      flex-flow: column;
      margin: 5px;
      display: flex;
      position: relative;
      inset: 0;

      & > :only-child {
        flex-flow: column;
        display: flex;
      }

      & .msg-box {
        background-color: color-mix(in srgb, var(--uclearn-color-success) 20%, var(--uclearn-translucent-bg));
      }

      & .flat {
        position: static;

        & > [style*="absolute"] {
          position: static !important;
        }
      }

      & .lower_grid_sec {
        overflow: auto;
      }

      & .upper_sec {
        anchor-scope: --slider;
        flex: none;
        align-items: center;
        gap: 5px;
        padding-right: 10px;
        display: flex;
        overflow: visible;

        & > * {
          flex: none;
          margin: 0 !important;
          position: static !important;
        }

        & > .dropdown {
          position: relative !important;
          inset: 0 !important;
        }

        & :is(.slider, .slider-title)[style*="none"] {
          visibility: hidden;
          display: initial !important;
        }

        & .slider-title {
          position-anchor: --slider;
          position-area: top center;
          position: absolute !important;
        }

        & .slider {
          flex: 1 1 min-content;
          anchor-name: --slider;
          justify-self: center;
          inset: 0;
          margin-inline: 16% !important;
          position: relative !important;
        }

        & #aa_semester_aa_dropdown {
          display: contents;

          & #refresh_btn_desktop {
            margin: 0;
            position: static !important;
          }
        }

        & .grid-btn {
          margin-right: -5px !important;
        }

        & #sa_list_ro {
          order: 12;
        }

        & #sa_grid_ro {
          order: 11;
        }
      }

      & .lower_sec {
        flex: 1 1 min-content;
        position: relative;
        inset: 0;
      }

      & .grid {
        position: relative;
      }
    }

    & .top-bar {
      grid-area: nav;
      position: static;
    }

    & .left-col, & .right-col {
      display: contents;

      & > * {
        min-height: 0;
      }
    }

    & .profile {
      display: contents;

      & > .module {
        grid-area: left-bottom;
      }
    }

    & #enrolment {
      display: contents;

      & > .module {
        grid-area: left-center;
      }

      & .enrolment_sort_dropdown {
        margin-left: auto !important;
      }
    }

    & .search-div {
      display: contents;

      & > .module {
        grid-area: left-top;
      }

      & form {
        display: flex;

        & #search-text-div {
          flex-grow: 1;
        }
      }

      & #search-text-div, & #search-submit-div {
        position: static;

        & > * {
          float: none;
        }
      }
    }

    & .right-col > * {
      grid-area: center;
    }

    & #activity-details-tpl {
      grid-area: right;

      & .table-div {
        float: none;
        width: auto;
      }

      & .locations-detail.toggle-hidden {
        display: none;
      }
    }

    &:has(#activity-details-tpl[style*="flex"]) #timetable-tpl {
      display: flex !important;
    }
  }

  & .__uclearn-profile-set {
    z-index: 1;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    width: min-content;
    display: grid;
    position: absolute;
    bottom: 3px;
    left: 3px;

    & .__uclearn-user-profile {
      background-color: var(--uclearn-translucent-bg);
      backdrop-filter: var(--uclearn-bg-effect);
      aspect-ratio: 1;
      text-align: center;
      border-radius: 50%;
      place-content: center;
      margin-right: -3px;
      padding: 3px;

      &.__uclearn-mismatch {
        background-color: color-mix(in srgb, var(--uclearn-color-error) 50%, var(--uclearn-translucent-bg));
      }
    }
  }

  & .__uclearn-timeline {
    height: 4px;
    color: inherit;
    background-color: #0000;
    margin-inline: 2px;
    padding: 0;
    display: flex;
    position: absolute;
    inset: 0 0 auto;
    border: none !important;

    & .__uclearn-time-point {
      border: none;
      flex: 1 1 0;
      min-width: 0;
      padding: 0;

      &:first-child {
        border-top-left-radius: 4px;
      }

      &:last-child {
        border-top-right-radius: 4px;
      }
    }

    & .__uclearn-time-point-empty {
      background-color: var(--uclearn-background);
    }

    & .__uclearn-time-point-filled {
      background-color: color-mix(in srgb, var(--uclearn-color-success) 60%, var(--uclearn-background));
      justify-content: center;
      display: flex;
      position: relative;

      & > div {
        background-color: var(--uclearn-translucent-bg);
        backdrop-filter: var(--uclearn-bg-effect);
        border-radius: 5px;
        padding: 3px;
        display: none;
        position: absolute;
        bottom: 100%;

        :hover > &, &:hover {
          display: initial;
        }
      }
    }
  }
}
