@import "ace-code-shadow.css";

:root:root:root:root:root:root:root:root {
	.que.coderunner pre {
		margin-block: 0.2rem;
		/* background-color: var(--uclearn-translucent-bg);
		border-radius: var(--uclearn-radius);
		padding: calc(var(--uclearn-radius) / 2) var(--uclearn-radius); */
	}

	.__uclearn-code-editor-container {
		background-color: var(--uclearn-translucent-bg);
		color: inherit;
		border-radius: var(--uclearn-radius);
		overflow: clip;
	}

	.ace_editor {
		color: inherit;
	}

	.ace-tm {
		background-color: transparent;
		color: inherit;
	}

	/* .ace_editor:not(.ace_autocomplete) {
		background-color: var(--uclearn-translucent-bg);
		color: inherit;
		border-radius: var(--uclearn-radius);
		padding-block: 0.5rem;
		box-sizing: content-box;
		width: auto !important;
		overflow: clip;
		contain: strict;
	} */

	/* .ace-gap-outline {
		outline-color: hsla(from currentColor h s l / 0.5);
	} */

	/* .ace_editor:not(.ace_autocomplete, :has(.ace_gutter))>.ace_scroller,
	.ace_editor:not(.ace_autocomplete)>.ace_gutter[style*="display"][style*="none"]+.ace_scroller {
		margin-inline: 0.5rem;

		.ace_editor:has(>&) {
			padding-inline: 0.5rem;
		}
	} */

	.ace_cursor {
		color: var(--uclearn-foreground);
	}

	.ace_gutter-active-line,
	.ace_marker-layer .ace_active-line {
		background-color: #80808010;
	}

	#page-question-type-coderunner .ui_wrapper,
	.que.coderunner .ui_wrapper {
		background-color: transparent !important;
		border: none !important;
		/* overflow: visible !important; */
	}

	.sortable-code ul {
		border-radius: var(--uclearn-radius);
		padding: calc(var(--uclearn-radius) / 2);
		background-color: var(--uclearn-translucent-bg);
		border: none;

		li {
			background-color: transparent;
		}
	}

	[id*="_answer_run-output-text"] {
		background-color: transparent !important;
	}

	.coderunner-test-results td {
		vertical-align: middle;

		> .icon {
			display: block;
			margin: 0;
		}
	}

	.coderunner-test-results [style*="background"] {
		background-color: transparent !important;
	}

	pre,
	code {
		user-select: all;
		text-shadow: none;
	}

	.coderunner-answer:has(
			+ [id$="answer_wrapper"]:not([style*="display: none"])
		) {
		display: none;
	}

	.ace_tooltip {
		background-color: var(--uclearn-translucent-bg);
		backdrop-filter: var(--uclearn-bg-effect);
		border: none;
		border-radius: var(--uclearn-radius);
		padding: calc(var(--uclearn-radius) / 2);
		color: inherit;

		p {
			white-space: pre-wrap;
			font-family: var(--uclearn-code-stack);
		}

		pre {
			margin: 0;
		}
	}

	.ace_autocomplete {
		background-color: var(--uclearn-translucent-bg);
		backdrop-filter: var(--uclearn-bg-effect);
		border: none;
		border-radius: 0.2em;

		.ace_text-layer {
			right: 0px;
			width: auto;
		}

		.ace_active-line,
		.ace_line-hover {
			border: none;
			background-color: var(--uclearn-hover-tint);
		}

		.ace_line {
			display: flex;

			.ace_completion-highlight,
			.ace_completion-message {
				color: var(--uclearn-color-link);
			}

			.ace_completion-message {
				margin-left: 2ch;
			}

			.ace_completion-meta {
				flex-grow: 1;
				text-align: right;
				margin-block: 0;
				margin-right: 0;
				color: var(--uclearn-foreground-muted);
				font-size: 0.7em;
				text-transform: lowercase;

				.ace_selected & {
					opacity: 1;
				}
			}
		}
	}

	#ace_settingsmenu,
	#kbshortcutmenu {
		background-color: var(--uclearn-translucent-bg);
		backdrop-filter: var(--uclearn-bg-effect);
		color: var(--uclearn-foreground);
		box-shadow: -5px 4px 5px var(--uclearn-shadow-color);
	}

	.ace_prompt_container {
		box-shadow: none;
		padding: 0;

		> .ace_editor:not(.ace_autocomplete) {
			backdrop-filter: var(--uclearn-bg-effect);
			margin-inline: calc(-1 * var(--uclearn-radius));
		}

		> .ace_autocomplete {
			margin-top: 0 !important;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
	}

	code:not(:empty, pre > code),
	pre:has(> code),
	.filter-ace-inline-output-text,
	.que:is(.coderunner, .description) pre:not(.ace_tooltip pre) {
		background-color: var(--uclearn-hover-tint) !important;
		box-shadow: 0 0 0 0.4ch var(--uclearn-hover-tint);
		margin-inline: 0.4ch;
		border-radius: 0.4ch;
		color: color-mix(
			in srgb,
			currentColor 50%,
			var(--uclearn-color-code) 50%
		) !important;
	}

	.ace_tooltip {
		pre,
		code {
			background-color: transparent;
			padding: 0;
		}
	}

	/* SSTs */
	.sst-ui {
		overflow: auto;
	}

	.sst :is(th, td) {
		border-color: currentColor;
		background-color: transparent;

		&:has(> input) {
			padding: 0;
		}
	}

	.sst :is(th, td) > input {
		margin: 0;
		position: relative;
		background-color: transparent;
		border: none;
		transition: box-shadow var(--uclearn-transition-short);
		border-radius: 1px;
		width: 100% !important;
		padding-inline: 0.5ch;
		min-width: 40px;
		field-sizing: content;
		display: block;

		&.cr-linenumber {
			text-align: center;
		}

		&.cr-filled-down {
			background-image: repeating-linear-gradient(
				45deg,
				transparent 0 5px,
				var(--uclearn-hover-tint) 5px 10px
			);
		}

		&:focus {
			outline: none;
		}

		&:focus-visible {
			box-shadow: var(--uclearn-focus-shadow);
		}
	}
}
