:root:root:root:root:root:root:root:root {
	pre {
		margin-block: 0.2rem;
	}

	.ace-tm {
		background-color: transparent;
		color: inherit;
	}

	.ace_editor:not(.ace_autocomplete) {
		background-color: var(--uclearn-translucent-bg);
		color: inherit;
		border-radius: var(--uclearn-radius);
		padding-block: 0.5rem;
		box-sizing: content-box;
		width: auto !important;
		overflow: clip;
	}

	.ace_indent-guide {
		background-image: linear-gradient(to left, var(--uclearn-hover-tint) 0% 1px, transparent 1px);
	}

	.ace_gutter {
		background: var(--uclearn-hover-tint);
		color: var(--uclearn-foreground-muted);
		padding-block: 0.5rem;
	}

	.ace_editor:not(.ace_autocomplete) .ace_scroller {
		margin-block: 0.5rem;
		overflow: visible;
	}

	.ace-gap-outline {
		outline-color: hsla(from currentColor h s l / 0.5);
	}

	.ace_editor:not(.ace_autocomplete, :has(.ace_gutter))>.ace_scroller,
	.ace_editor:not(.ace_autocomplete)>.ace_gutter[style*="display"][style*="none"]+.ace_scroller {
		margin-inline: 0.5rem;

		.ace_editor:has(>&) {
			padding-inline: 0.5rem;
		}
	}

	.ace_print-margin {
		background: var(--uclearn-active-tint);
	}

	.ace_fold {
		background-color: #6B72E6;
	}

	.ace_cursor {
		color: var(--uclearn-foreground);
	}

	/* .ace_invisible {
		color: rgb(191, 191, 191);
	} */

	.ace_storage, .ace_keyword {
		color: light-dark(#a8009a, #ff59f9);
	}

	.ace_constant {
		color: light-dark(#585142, #ccc3a9);
	}

	/* .ace_constant.ace_buildin {
		color: rgb(88, 72, 246);
	} */

	/* .ace_constant.ace_language {
		color: rgb(88, 92, 246);
	} */

	/* .ace_constant.ace_library {
		color: rgb(6, 150, 14);
	} */

	.ace_invalid {
		background-color: hsla(from var(--uclearn-color-error) h s 50 / 0.3);
		color: var(--uclearn-color-error);
	}

	.ace_identifier:has(+ .ace_lparen),
	.ace_support.ace_function {
		color: light-dark(#5f00a8, #d59eff);
	}

	/* .ace_support.ace_constant {
		color: light-dark(#585142, #ccc3a9);
	} */

	.ace_support.ace_type, .ace-tm .ace_support.ace_class {
		color: rgb(109, 121, 222);
	}

	.ace_keyword.ace_operator {
		color: var(--uclearn-foreground);
	}

	.ace_string {
		color: light-dark(#5d2a00, #b2ff6f);
	}

	.ace_comment {
		color: light-dark(#006834, #6fffb7);
	}

	.ace_comment.ace_doc {
		color: light-dark(#004c68, #6fd9ff);
	}

	/* .ace_comment.ace_doc.ace_tag {
		color: rgb(128, 159, 191);
	} */

	.ace_constant.ace_numeric {
		color: light-dark(#00399b, #5f99fd);
	}

	.ace_identifier {
		color: light-dark(#926b10, #ffe8a4);
	}

	/* .ace_variable {
		color: light-dark(#926b10, #ffe8a4);
	} */

	/* .ace_xml-pe {
		color: rgb(104, 104, 91);
	} */

	.ace_entity.ace_name.ace_function {
		color: light-dark(#a83800, #ffb259);
	}

	/* .ace_heading {
		color: rgb(12, 7, 255);
	} */

	/* .ace_list {
		color: rgb(185, 6, 144);
	} */

	/* .ace_meta.ace_tag {
		color: rgb(0, 22, 142);
	} */

	.ace_string.ace_regex {
		color: light-dark(#d06f00, #ffa238);
	}

	.ace_marker-layer .ace_selection {
		background-color: hsla(from var(--uclearn-color-complete) h s 50 / 0.3);
	}

	/* .ace_multiselect .ace_selection.ace_start {
		box-shadow: 0 0 3px 0px white;
	} */

	.ace_marker-layer .ace_step {
		background-color: hsla(from var(--uclearn-color-warning) h s l / 0.3);
	}

	/* .ace_marker-layer .ace_stack {
		background: rgb(164, 229, 101);
	} */

	.ace_marker-layer .ace_bracket {
		border: 1px solid #80808080;
	}

	.ace_gutter-active-line,
	.ace_marker-layer .ace_active-line {
		background-color: #80808010;
	}


	.ace_marker-layer .ace_selected-word {
		background-color: var(--uclearn-hover-tint);
		border: none;
	}

	.ace_gutter-cell {
		border: none;
	}

	#page-question-type-coderunner .ui_wrapper,
	.que.coderunner .ui_wrapper {
		border: none !important;
		/* overflow: visible !important; */
	}

	/* [id$="_answer-code_wrapper"] {
		background-color: var(--uclearn-translucent-bg) !important;
		border-radius: var(--uclearn-radius);
		padding-block: calc(var(--uclearn-radius) / 2);

		>[style*="vscode"] {
			padding-inline: calc(var(--uclearn-radius) / 2);
		}

		.monaco-editor {
			outline: none;
			--vscode-editor-background: transparent;
			--vscode-editorGutter-background: transparent;
		}
	} */

	.sortable-code ul {
		border-radius: var(--uclearn-radius);
		padding: calc(var(--uclearn-radius) / 2);
	}

	[id*="_answer_run-output-text"] {
		background-color: transparent !important;
	}

	.coderunner-test-results [style*="background"] {
		background-color: transparent !important;
	}

	pre, code {
		user-select: all;
	}

	.coderunner-answer:has(+[id$="answer_wrapper"]:not([style*="display: none"])) {
		display: none;
	}
}
