:root:root:root:root:root:root:root:root {
	.drawer,
	.drawer[data-region],
	#page,
	.navbar {
		position: relative !important;
		top: unset;
		left: unset;
		right: unset;
		min-height: 0;
		height: auto;
	}

	.drawer {
		--uclearn-drawer-transitions: margin-inline
			var(--uclearn-transition-short);
		height: auto;
		transition: var(--uclearn-drawer-transitions);
		overflow-x: hidden;
		overflow-y: auto;
		display: grid;
		grid-template-rows: [a] max-content [b] minmax(max-content, 1fr) [c];

		.block-region > .block:only-of-type {
			background-color: transparent;
			border-radius: 0;

			> .card-body {
				padding: 0.5rem !important;
			}
		}

		&:is(.drawer-left, .drawer-right):not(.show),
		&[data-region].hidden {
			transition: var(--uclearn-drawer-transitions),
				visibility 0ms var(--uclearn-transition-short-duration),
				opacity 0ms var(--uclearn-transition-short-duration);
		}

		&:not(.show) {
			&.drawer-left {
				margin-left: -285px;
			}

			&.drawer-right {
				margin-right: -315px;
			}
		}

		&.hidden {
			&[data-region="left-hand-drawer"] {
				/* TODO */
				margin-left: -320px;
			}

			&[data-region="right-hand-drawer"] {
				margin-right: -320px;
			}
		}

		/* specificy */
		#page-wrapper &::before {
			/* position: fixed; */
			inset: auto;
			width: 100%;
			height: 100%;
			display: block;
			grid-row: a / c;
		}

		> * {
			height: auto;
			overflow-y: hidden;
			grid-row: b / c;
			grid-column: 1;
		}

		&:has(.drawercontent .block:first-of-type .card-title)
			> *:not(.drawerheader) {
			grid-row: a / c;
		}

		.drawercontent {
			min-height: max-content;
		}

		.drawerheader {
			height: auto;
			grid-row: a / b;
			position: sticky;
			top: 0;
			box-shadow: none;
			padding-top: 10px;
			overflow: visible;
			pointer-events: none;
			min-width: 0;
			padding-inline: 0.5rem;

			.logo {
				flex: 1 1 0;
				min-width: 0;
				max-width: 200px;
			}

			> * {
				pointer-events: all;
			}
		}
	}

	.drawer-left,
	[data-region="left-hand-drawer"].drawer {
		grid-area: page / drawer-left / page-end / drawer-left-end;
		/* border-right: var(--border-style) currentColor; */
	}

	.drawer-right,
	[data-region="right-hand-drawer"].drawer {
		grid-area: page / drawer-right / page-end / drawer-right-end;
		/* border-left: var(--border-style) currentColor; */
	}

	@media (max-width: 767.98px) {
		.drawer-left,
		[data-region="left-hand-drawer"].drawer,
		.drawer-right,
		[data-region="right-hand-drawer"].drawer {
			grid-column: far-left / far-right;
			max-width: none !important;
			width: 100%;
		}
	}

	@media (min-width: 992px) {
		.drawer:not(.hidden)[data-region="right-hand-drawer"],
		.drawer-right.show {
			transition: var(--uclearn-drawer-transitions),
				z-index 0ms var(--uclearn-transition-short-duration);
		}

		.drawer.hidden[data-region="right-hand-drawer"],
		.drawer-right:not(.show) {
			z-index: -1;
		}
	}

	#page.drawers,
	.drawer {
		scrollbar-color: var(--uclearn-foreground-muted)
			var(--uclearn-translucent-bg);
		scrollbar-width: auto;
	}

	.drawer {
		scrollbar-width: thin;
	}

	.drawer-right {
		transform: scaleX(-1);

		> * {
			transform: scaleX(-1);
		}
	}

	.drawer-toggles {
		display: contents !important;

		.drawer-toggler {
			position: fixed;
			inset: auto;
			pointer-events: all;
			z-index: 15;

			&.drawer-right-toggle {
				justify-self: end;
			}

			.btn {
				transition: padding var(--uclearn-transition-short),
					box-shadow var(--uclearn-transition-short);
			}
		}

		.drawer-left-toggle .btn {
			border-radius: 0 100vmax 100vmax 0;
		}

		.drawer-right-toggle .btn {
			border-radius: 100vmax 0 0 100vmax;
		}

		.drawer-right-toggle {
			clip-path: inset(-100vmax 0 -100vmax -100vmax);
		}
	}

	.btn.drawertoggle {
		display: initial;
		backdrop-filter: blur(10px);

		.drawer-primary & {
			margin-inline: 0 0.5rem;
		}
	}

	#discussion-settings-drawer {
		position: fixed !important;
		inset: var(--uclearn-nav-height) 0 0 auto;
	}

	#theme_boost-drawers-courseindex .drawercontent {
		padding: 0;

		.courseindex-section {
			border: 0;

			&:is(:focus-visible, .focus) {
				box-shadow: var(--uclearn-focus-shadow-inset);
			}
		}

		.courseindex-item {
			border: none;
			border-radius: 0;
			align-items: center;
			padding: 0 0.6rem;

			a,
			[tabindex] {
				outline: none;
			}

			> :not(.courseindex-chevron, .courseindex-cmicon-container) {
				padding-block: 0.5rem;
			}

			> .courseindex-chevron {
				height: auto;
				align-self: stretch;
			}

			> .courseindex-link {
				flex: 1 1;
			}
		}

		.courseindex-section-title {
			padding: 0;

			> :first-child {
				padding-left: calc(3px + 0.5rem);
			}

			> :not(.courseindex-chevron) {
				padding-right: calc(3px + 0.5rem);
			}
		}
	}

	.block_multiblock .multiblock-accordion {
		.block_multiblock:has(&) > .card-body {
			padding: 0 !important;
		}

		.card {
			border: none;
			padding: 0;
			border-radius: 0;

			&:first-child {
				border-top-left-radius: var(--uclearn-radius);
				border-top-right-radius: var(--uclearn-radius);
			}

			&:last-child {
				border-bottom-left-radius: var(--uclearn-radius);
				border-bottom-right-radius: var(--uclearn-radius);
			}

			:has(a) {
				border-radius: inherit;
			}
		}

		.card-body {
			padding: var(--uclearn-radius);
		}

		.card-body:is(
				.block_alp_player,
				.block_ucpreviousexams,
				.block_ucskills
			) {
			padding: 0 !important;

			:is(.collapse, .collapsing):has(> &) {
				display: unset;
			}

			.card-header:has(+ * > &:not(.block_ucskills)) {
				display: none;
			}
		}

		.card-header {
			padding: 0;
			background-color: transparent;
			border: none;
			border-radius: inherit;
		}

		.card-header a,
		.card-body:is(
				.block_alp_player,
				.block_ucpreviousexams,
				.block_ucskills
			)
			a {
			text-align: center;
			display: inline-block;
			width: 100%;
			padding: var(--uclearn-radius);
			border-radius: inherit;
			border: none;
		}

		.card-body.block_alp_player a {
			display: block;
			position: relative;
			overflow: hidden;

			img {
				position: absolute;
				inset: 0 auto 0 0;
				height: 100%;
				border-top-left-radius: inherit;
				border-bottom-left-radius: inherit;
			}

			br {
				display: none;
			}
		}

		.card-body.block_ucskills a {
			position: absolute;
			inset: 0;
			padding: 0 !important;
			text-align: left;

			img {
				height: 100%;
				width: auto;
				border-top-left-radius: inherit;
				border-bottom-left-radius: inherit;
			}
		}

		.card-body:is(.block_alp_player, .block_ucpreviousexams) a::after,
		.card-header:has(+ * > .block_ucskills) a::after {
			content: "";
			display: inline-block;
			height: 1.1em;
			aspect-ratio: 1;
			background-color: currentColor;
			mask-image: var(--uclearn-icon-link);
			mask-size: cover;
			mask-mode: alpha;
			vertical-align: calc(0.3em - 0.3lh);
			margin-left: 0.5ch;
		}
	}
}
