:root:root:root:root:root:root:root:root,
:host {
	--uclearn-filters-src: "chrome-extension://__MSG_@@extension_id__/filters.svg";
	/* chrome-extension://__MSG_@@extension_id__/filters.svg#graphTranslucent */
	/* see: https://issues.chromium.org/issues/41001393 */
	--uclearn-graph-translucent-filter: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxmaWx0ZXIgaWQ9ImdyYXBoVHJhbnNsdWNlbnQiPjxmZUNvbG9yTWF0cml4IGluPSJTb3VyY2VHcmFwaGljIiB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMSAwIDAgMCAwCjAgMSAwIDAgMAowIDAgMSAwIDAKLTIgLTEgMCAyIDAiPjwvZmVDb2xvck1hdHJpeD48L2ZpbHRlcj48L3N2Zz4=#graphTranslucent);
	--uclearn-translucent-filter: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxmaWx0ZXIgaWQ9InRyYW5zbHVjZW50QmciPjxmZUNvbG9yTWF0cml4IGluPSJTb3VyY2VHcmFwaGljIiB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMSAwIDAgMCAwCjAgMSAwIDAgMAowIDAgMSAwIDAKLTAuODUwNCAtMi44NjA4IC0wLjI4ODggNCAwIj48L2ZlQ29sb3JNYXRyaXg+PC9maWx0ZXI+PC9zdmc+#translucentBg);

	--uclearn-icon-lock: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWxvY2siPjxyZWN0IHdpZHRoPSIxOCIgaGVpZ2h0PSIxMSIgeD0iMyIgeT0iMTEiIHJ4PSIyIiByeT0iMiIvPjxwYXRoIGQ9Ik03IDExVjdhNSA1IDAgMCAxIDEwIDB2NCIvPjwvc3ZnPg==);
	--uclearn-icon-cv-down: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWNoZXZyb24tZG93biI+PHBhdGggZD0ibTYgOSA2IDYgNi02Ii8+PC9zdmc+);

	--uclearn-small-screen-size: var(--breakpoint-lg, 992px);

	--uclearn-background-image: linear-gradient(
		0deg,
		var(--uclearn-background),
		var(--uclearn-background)
	);
	--uclearn-background-imageset: var(--uclearn-background-image);

	--uclearn-foreground: light-dark(black, white);
	--uclearn-background: light-dark(white, #1e1e1e);
	--uclearn-foreground-muted: hsl(
		from var(--uclearn-foreground) h s calc(20 + 0.6 * l)
	);

	--uclearn-translucent-bg: rgb(from var(--uclearn-background) r g b / 0.5);
	--uclearn-bg-effect: blur(10px);

	--uclearn-hover-tint: #80808040;
	--uclearn-active-tint: #80808080;

	--uclearn-accent-color: #ce3e2e;
	--uclearn-shadow-color: #00000080;
	--uclearn-color-error: #ff0000;
	--uclearn-color-warning: #ffff00;
	--uclearn-color-success: #00ff00;
	--uclearn-color-complete: #0060bf;
	--uclearn-color-code: #ff008c;

	--uclearn-color-link: color-mix(
		in srgb,
		var(--uclearn-foreground) 50%,
		#0060bf 50%
	);

	--uclearn-card-background: var(--uclearn-translucent-bg);
	--uclearn-section-background: var(--uclearn-translucent-bg);

	--uclearn-focus-shadow: 0 0 0 0.15rem #0f6cbf, 0 0 0 0.3rem #0f6cbfbf;
	--uclearn-focus-shadow-inset: inset 0 0 0 0.15rem #0f6cbf,
		inset 0 0 0 0.3rem #0f6cbfbf;

	--uclearn-transition-short-duration: 250ms;
	--uclearn-transition-short-function: ease;
	--uclearn-transition-short: var(--uclearn-transition-short-duration)
		var(--uclearn-transition-short-function);

	--uclearn-radius: 10px;

	--uclearn-font-stack: "Open Sans", sans-serif;
	--uclearn-code-stack: SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;

	--uclearn-nav-height: calc(1lh + 1rem + 6px);

	@media (prefers-color-scheme: dark) {
		& {
			color-scheme: dark;
		}
	}

	&.uclearn-dark-mode {
		color-scheme: dark;
	}

	&.uclearn-light-mode {
		color-scheme: light;
	}

	@media (prefers-color-scheme: dark) {
		& {
			--uclearn-background-imageset: linear-gradient(
					0deg,
					var(--uclearn-translucent-bg),
					var(--uclearn-translucent-bg)
				),
				var(--uclearn-background-image);
		}
	}
}
