#uclearn-inspectors-list {
	background-color: var(--uclearn-translucent-bg);
	padding: var(--uclearn-radius);
	border-top-left-radius: var(--uclearn-radius);
	position: fixed;
	bottom: 0;
	right: 0;
	width: fit-content;
	z-index: 9999;
	border-top: 1px solid currentColor;
	border-left: 1px solid currentColor;
}

#uclearn-inspector-highlight {
	position: fixed;
	background-color: #36b0ff3d;
	z-index: 9999;
	pointer-events: none;
}

#uclearn-loading-progress {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 10px;
	background-color: var(--uclearn-accent-color);
	z-index: 9999;
}

.__uclearn-mathlive-field {
	background-color: var(--uclearn-translucent-bg);
	color: var(--uclearn-foreground);
	transition: box-shadow var(--uclearn-transition-short);
	border: 1px solid currentColor;
	border-radius: calc(var(--uclearn-radius) / 2);
	font-size: 1.2em;
	min-width: 3ch;
	margin-inline: 0.2ch;
	--caret-color: currentColor;
	--selection-color: white;
	--selection-background-color: #0080ff60;
	--contains-highlight-background-color: var(--uclearn-hover-tint);
	--placeholder-color: var(--uclearn-foreground-muted);
	--placeholder-opacity: 1;
	--correct-color: var(--uclearn-color-success);
	--incorrect-color: var(--uclearn-color-error);

	&::part(container) {
		padding: 0.2em 0.3ch;
	}

	@media (pointer: fine) {
		&::part(virtual-keyboard-toggle) {
			display: none;
		}
		&::part(menu-toggle) {
			display: none;
		}
	}

	&:focus-within {
		outline: none;
		box-shadow: var(--uclearn-focus-shadow);
	}

	+ :is(
			input,
			.matrixsquarebrackets,
			.matrixroundbrackets,
			.matrixbarbrackets
		) {
		display: none !important;

		:root.__uclearn-mathlive-debug & {
			display: inline-block !important;
			opacity: 0.2;
		}
	}
}

#uclearn-settings-form {
	max-height: 90vh;
	overflow: auto;
	min-width: 60vw;
	display: flex;
	flex-flow: column;
	align-items: stretch;

	.uclearn-bg-select {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		gap: 0.5rem;
		width: min-content;
		min-width: 100%;

		input[type="radio"],
		input[type="file"] {
			position: absolute;
			opacity: 0;
			pointer-events: none;
		}

		.uclearn-custom-images-container {
			display: contents;
		}

		label {
			display: flex;
			align-items: center;
			justify-content: center;
			aspect-ratio: 16/9;
			border-radius: var(--uclearn-radius);
			padding: calc(var(--uclearn-radius) / 2);
			transition: background-color var(--uclearn-transition-short);
			min-width: 0;
			min-height: 0;

			&:hover,
			input:focus + & {
				background-color: var(--uclearn-hover-tint);
			}

			&:active {
				background-color: var(--uclearn-active-tint);
			}

			img {
				width: 100%;
				border-radius: calc(var(--uclearn-radius) / 2);
				max-height: 100%;
				object-fit: cover;
			}

			svg {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	.uclearn-color-scheme-select {
		display: flex;
		border-radius: var(--uclearn-radius);
		background-color: var(--uclearn-translucent-bg);
		overflow: hidden;
		width: fit-content;

		input[type="radio"] {
			position: absolute;
			opacity: 0;
			pointer-events: none;
		}

		label {
			transition: background-color var(--uclearn-transition-short);
			padding: calc(var(--uclearn-radius) / 2);
			margin: 0;

			svg {
				height: 1.5em;
			}

			&:hover,
			input:focus + & {
				background-color: var(--uclearn-hover-tint);
			}

			&:active,
			input:checked + & {
				background-color: var(--uclearn-active-tint);
			}
		}
	}
}
