#uclearn-inspectors-list {
	background-color: var(--uclearn-translucent-bg);
	padding: var(--uclearn-radius);
	border-top-left-radius: var(--uclearn-radius);
	position: fixed;
	bottom: 0;
	width: fit-content;
	z-index: 9999;
	border-top: 1px solid currentColor;
	border-left: 1px solid currentColor;
	display: grid;
	grid-template-columns: repeat(3, max-content);
	max-height: 50vh;
	overflow: auto;
	right: 0;
	translate: calc(100% - var(--uclearn-radius)) 0;
	transition: translate var(--uclearn-transition-short);

	&:hover,
	:root:not(:hover) & {
		translate: 0;
	}
}

#uclearn-inspector-highlight {
	position: fixed;
	background-color: #36b0ff3d;
	z-index: 9999;
	pointer-events: none;
}

#uclearn-loading-progress {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 10px;
	background-color: var(--uclearn-accent-color);
	z-index: 9999;
}

.__uclearn-mathlive-field {
	background-color: var(--uclearn-translucent-bg);
	color: var(--uclearn-foreground);
	transition: box-shadow var(--uclearn-transition-short);
	border: 1px solid currentColor;
	border-radius: calc(var(--uclearn-radius) / 2);
	font-size: 1.2em;
	min-width: 3ch;
	margin: 0.2rem 0.2ch;
	cursor: text;
	--caret-color: currentColor;
	--selection-color: white;
	--selection-background-color: #0080ff60;
	--contains-highlight-background-color: var(--uclearn-hover-tint);
	--placeholder-color: var(--uclearn-foreground-muted);
	--placeholder-opacity: 1;
	--correct-color: var(--uclearn-color-success);
	--incorrect-color: var(--uclearn-color-error);

	&::part(container) {
		padding: 0.2em 0.3ch;
	}

	@media (pointer: fine) {
		&::part(virtual-keyboard-toggle) {
			display: none;
		}
		&::part(menu-toggle) {
			display: none;
		}
	}

	&:focus-within {
		outline: none;
		box-shadow: var(--uclearn-focus-shadow);
	}

	+ :is(
			input,
			.matrixsquarebrackets,
			.matrixroundbrackets,
			.matrixbarbrackets
		) {
		display: none !important;

		:root.__uclearn-mathlive-debug & {
			display: inline-block !important;
			opacity: 0.2;
			field-sizing: content;
			width: auto !important;

			& input {
				field-sizing: content;
				width: 100% !important;
			}
		}
	}
}

.__uclearn-workspace-form {
	display: grid;
	grid-template-columns: repeat(
		auto-fill,
		minmax(calc(1.4em + var(--uclearn-radius)), max-content)
	);
	gap: calc(var(--uclearn-radius) / 2);
	margin-top: calc(var(--uclearn-radius) / 2);
	align-items: stretch;

	button {
		border: none;
		border-radius: var(--uclearn-radius);
		padding: calc(var(--uclearn-radius) / 2);
		background-color: transparent;
		transition: background-color var(--uclearn-transition-short);

		&:is(:hover, :focus-visible) {
			background-color: var(--uclearn-hover-tint);
		}

		&:active {
			background-color: var(--uclearn-active-tint);
		}
	}

	.__uclearn-workspace-math {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 1fr);

		svg {
			margin: -0.1em;
			aspect-ratio: 1;
		}
	}

	.__uclearn-workspace-draw {
		display: flex;
		align-items: stretch;

		svg {
			aspect-ratio: 1;
		}
	}
}

.__uclearn-help-button,
.__uclearn-settings-button {
	svg {
		aspect-ratio: 1;
		height: 1lh;
		margin-left: -0.5rem;
	}
}

#__uclearn-jax-options {
	position: absolute;
	left: 100%;
	top: 50%;
	translate: -1px -50%;
	background-color: var(--uclearn-translucent-bg);
	backdrop-filter: var(--uclearn-bg-effect);
	display: flex;
	transition: opacity var(--uclearn-transition-short);
	opacity: 0;
	pointer-events: none;
	z-index: 1;
	border-radius: var(--uclearn-radius);

	:has(> &) {
		position: relative;
	}

	:is(.MathJax, .MathJax_Display):is(:hover, :focus-within) & {
		opacity: 1;
		pointer-events: all;
	}

	button {
		padding: calc(var(--uclearn-radius) / 2);
		border: none;

		&:first-child {
			border-top-left-radius: inherit;
			border-bottom-left-radius: inherit;
		}

		&:last-child {
			border-top-right-radius: inherit;
			border-bottom-right-radius: inherit;
		}

		svg {
			height: 1.5em;
			aspect-ratio: 1;
		}
	}
}

#uclearn-help-container {
	max-width: 60vw;
}

#uclearn-settings-form {
	min-width: 60vw;
	display: flex;
	flex-flow: column;
	align-items: stretch;

	.uclearn-bg-select {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		gap: 0.5rem;
		width: min-content;
		min-width: 100%;

		input[type="radio"],
		input[type="file"] {
			position: absolute;
			opacity: 0;
			pointer-events: none;
		}

		.uclearn-custom-images-container {
			display: contents;
		}

		label {
			display: flex;
			align-items: center;
			justify-content: center;
			aspect-ratio: 16 / 9;
			border-radius: var(--uclearn-radius);
			padding: calc(var(--uclearn-radius) / 2);
			transition: background-color var(--uclearn-transition-short);
			min-width: 0;
			min-height: 0;

			&:hover,
			input:focus + & {
				background-color: var(--uclearn-hover-tint);
			}

			&:active {
				background-color: var(--uclearn-active-tint);
			}

			img {
				width: 100%;
				border-radius: calc(var(--uclearn-radius) / 2);
				max-height: 100%;
				object-fit: cover;
			}

			svg {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}

	.uclearn-color-scheme-select {
		display: flex;
		border-radius: var(--uclearn-radius);
		background-color: var(--uclearn-translucent-bg);
		overflow: hidden;
		width: fit-content;

		input[type="radio"] {
			position: absolute;
			opacity: 0;
			pointer-events: none;
		}

		label {
			transition: background-color var(--uclearn-transition-short);
			padding: calc(var(--uclearn-radius) / 2);
			margin: 0;

			svg {
				height: 1.5em;
			}

			&:hover,
			input:focus + & {
				background-color: var(--uclearn-hover-tint);
			}

			&:active,
			input:checked + & {
				background-color: var(--uclearn-active-tint);
			}
		}
	}
}

.__uclearn-excalidraw-overlay {
	grid-row: 1 / -1;
	/* Above drawers, below nav */
	z-index: 1018;
	margin-block: -15px;
}

.excalidraw {
	/* Above everything else, please */
	--zIndex-modal: 2000;
	--zIndex-popup: 2001;
}

.uclearn-video-wrapper {
	border-radius: var(--uclearn-radius);
	overflow: hidden;
}
