#uclearn-inspectors-list {
	background-color: var(--uclearn-translucent-bg);
	padding: var(--uclearn-radius);
	border-top-left-radius: var(--uclearn-radius);
	position: fixed;
	bottom: 0;
	right: 0;
	width: fit-content;
	z-index: 9999;
	border-top: 1px solid currentColor;
	border-left: 1px solid currentColor;
}

#uclearn-loading-progress {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 10px;
	background-color: var(--uclearn-accent-color);
	z-index: 9999;
}
