:root:root:root:root:root:root:root:root {
	#page-footer,
	#footnote {
		display: none;
	}

	#page-header {
		margin-top: calc(15px + 1em - 1lh);

		> .w-100 {
			position: relative;

			form:has(input[name="reset"][value="1"]) .btn {
				position: absolute;
				right: 0;
				margin-top: calc(0.5lh - 0.5em);
			}
		}

		.page-context-header {
			padding: 0;
			margin: 0 !important;
		}

		&:has(+ .secondary-navigation) {
			margin-bottom: 0;
		}
	}

	body:not(#page-login-index) #page-wrapper {
		display: grid;
		grid:
			[navbar] max-content [navbar-end page] 1fr [page-end]
			/ [far-left drawer-left] max-content
			[drawer-left-end left-gutter] minmax(5px, 1fr)
			[left-gutter-end page-left] minmax(0, min-content)
			[nav-split] minmax(0, 80vw)
			[page-right right-gutter] minmax(5px, 1fr)
			[right-gutter-end drawer-right] max-content
			[drawer-right-end scrollbar-gutter far-right] min-content [scrollbar-gutter-end];
		overflow: clip;
		width: 100%;

		&::before {
			content: "";
			display: block;
			backdrop-filter: var(--uclearn-bg-effect);
			grid-area: navbar / scrollbar-gutter / page-end /
				scrollbar-gutter-end;
			width: 100%;
			height: 100%;
		}

		.navbar {
			grid-area: navbar / far-left / navbar-end / far-right;
		}

		#page {
			grid-area: navbar / far-left / page-end / scrollbar-gutter-end;
			margin-inline: 0 !important;
			overflow-y: auto !important;
			margin-top: 0;
			display: grid;
			grid-template-rows: subgrid;
			grid-template-columns: subgrid;
			padding: 0;

			:has(:where(#page-content)) {
				display: contents;
			}

			#region-main,
			#region-main > [role="main"] {
				padding: 0;
			}

			.main-inner {
				grid-area: page / far-left / page-end / far-right;
				display: grid;
				grid-template-rows: repeat(99, max-content);
				grid-template-columns: subgrid;
				min-height: 0;
				height: fit-content;
				margin: 0;
				position: relative;

				&::before {
					grid-area: 1 / page-left / -1 / page-right;
				}

				.drawer-toggler {
					grid-area: 1 / far-left / 1 / far-right;
				}

				> * {
					grid-column: page-left / page-right;
					width: 100%;
					min-width: 0;

					&:not(.secondary-navigation, .uclearn-background-host) {
						padding-inline: 1rem;
					}
				}

				.__uclearn-excalidraw-overlay {
					grid-column: far-left / far-right;
					padding-inline: 0;
				}

				@media (max-width: 992px) {
					&::before {
						grid-column: far-left / far-right;
					}

					> * {
						grid-column: far-left / far-right;
					}
				}
			}

			#page-content {
				padding-bottom: 1rem !important;
			}

			/* >* {
				grid-area: page / page-left / page-end / page-right;
				min-height: 0;
				height: fit-content;
				display: subgrid;
			} */
		}
	}

	#page .activity-header {
		padding: 0;
		margin: 0;
	}

	body#page-mod-quiz-attempt #page-wrapper #page {
		#page-header {
			display: grid;
			grid-template: subgrid / subgrid;
			grid-row: 1 / 3;

			> .w-100 {
				display: contents;

				> * {
					grid-column: 1 / -1;
				}

				> :has(.page-context-header) {
					grid-column: nav-split / -1;
				}
			}
		}

		#page-content {
			grid-row: 2 / 50;
			display: grid;
			grid-template: subgrid / subgrid;
			padding-inline: 1rem;
			pointer-events: none;

			:has(#region-main),
			#region-main {
				display: contents;
			}

			.tertiary-navigation {
				grid-area: 2 / 1 / 2 / nav-split;
				min-width: fit-content;

				.navitem {
					margin: 0;
				}
			}

			#region-main > * {
				grid-column: 1 / -1;
				pointer-events: all;
			}

			#region-main > div[role="main"] {
				display: contents;

				> * {
					grid-column: 1 / -1;
					contain: inline-size;
				}

				> .tertiary-navigation {
					grid-column: 1 / nav-split;
					grid-row: 1;
					contain: none;
				}
			}
		}
	}
}
