@import "globals.css";
@import "reset.css";
@import "layout.css";
@import "ui.css";
@import "buttons.css";
@import "effects.css";
@import "nav.css";
@import "sections.css";
@import "drawers.css";
@import "notifications.css";
@import "message-app.css";
@import "code.css";
@import "quiz.css";
@import "quiz-nav.css";
@import "injected.css";

:root:root:root:root:root:root:root:root {
	background-image: var(--uclearn-background-imageset);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;

	/* Theme */

	&:has(> #page-login-index) {
		display: grid;
	}

	img[src^="https://learn.canterbury.ac.nz/pix/"]
	{
		filter: var(--uclearn-translucent-filter);
	}

	.que img,
	.resourceimage,
	iframe[title*="JSXGraph" i],
	.video-js .vjs-tech {
		filter: var(--uclearn-translucent-filter);
	}

	a:has(img[src^="https://learn.canterbury.ac.nz/pix/"])
	{
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
	}

	.block_html div:not(:has(> :not(a))) {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 50px;

		> a {
			padding: 0 !important;
		}
	}

	:is(.subcategories, #frontpage-category-names, #frontpage-category-combo)
		.coursebox
		> .info
		> .coursename
		a,
	.course_category_tree .category.with_children > .info > .categoryname {
		background-size: 0;
		background-position: -100vmax -100vmax;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			display: block;
			height: 1.2em;
			aspect-ratio: 1;
			background-image: inherit;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.video-js {
		border-radius: var(--uclearn-radius);
		background-color: var(--uclearn-translucent-bg);
		contain: content;
	}

	&.uclearn-dark-mode {
		img[src^="https://learn.canterbury.ac.nz/pix/"]
		{
			filter: var(--uclearn-translucent-filter) invert(1)
				hue-rotate(180deg);
		}

		.que img,
		.resourceimage,
		iframe[title*="JSXGraph" i],
		.video-js .vjs-tech {
			filter: var(--uclearn-translucent-filter) invert(1)
				hue-rotate(180deg);
		}

		.navbar .logo,
		img.icon,
		#logoimage,
		.questionflagimage {
			filter: invert(1) hue-rotate(180deg);
		}
		.activityicon {
			filter: invert(1) hue-rotate(180deg) !important;
		}

		img[src$="/u/f1"] {
			filter: brightness(0.5) contrast(3) brightness(0.6);
		}

		.block-timeline [data-region="no-events-empty-message"] img {
			filter: brightness(0.3) contrast(1.5);
			opacity: 0.5;
		}

		:is(
				.subcategories,
				#frontpage-category-names,
				#frontpage-category-combo
			)
			.coursebox
			> .info
			> .coursename
			a::before,
		.course_category_tree
			.category.with_children
			> .info
			> .categoryname::before {
			filter: invert(1) hue-rotate(180deg);
		}
	}

	#page-wrapper .graphimage {
		filter: var(--uclearn-graph-translucent-filter);
		margin: -30px;
		width: calc(100% + 60px);
		user-select: none;
	}

	.userinitials {
		background-color: var(--uclearn-background);
		color: var(--uclearn-foreground-muted);
	}

	/* Course Index */

	.courseindex .completioninfo {
		order: 1;
	}

	/* Course */

	.formulation {
		background-color: transparent !important;
		border-color: currentColor !important;
		color: inherit !important;
	}
}
