@import "globals.css";
@import "reset.css";
@import "layout.css";
@import "ui.css";
@import "buttons.css";
@import "effects.css";
@import "nav.css";
@import "sections.css";
@import "drawers.css";
@import "notifications.css";
@import "message-app.css";
@import "code.css";
@import "quiz.css";
@import "quiz-nav.css";
@import "echo.css";
@import "injected.css";
@import "../../node_modules/monaco-editor/min/vs/editor/editor.main.css";

:root:root:root:root:root:root:root:root {
	background-image: var(--uclearn-background-imageset);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;

	/* Theme */

	&:has(> #page-login-index) {
		display: grid;
	}

	img[src^="https://learn.canterbury.ac.nz/pix/"]
	{
		filter: var(--uclearn-translucent-filter);
	}

	.que img,
	.resourceimage,
	iframe[title*="JSXGraph" i],
	img[role="presentation"],
	.video-js .vjs-tech {
		filter: var(--uclearn-translucent-filter);
	}

	a:has(img[src^="https://learn.canterbury.ac.nz/pix/"])
	{
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
	}

	.block_html div:not(:has(> :not(a))) {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 50px;

		> a {
			padding: 0 !important;
		}
	}

	:is(.subcategories, #frontpage-category-names, #frontpage-category-combo)
		.coursebox
		> .info
		> .coursename
		a,
	.course_category_tree .category.with_children > .info > .categoryname {
		background-size: 0;
		background-position: -100vmax -100vmax;
		position: relative;
		padding-left: 1.6em;

		&::before {
			content: "";
			position: absolute;
			display: block;
			height: 1.2em;
			aspect-ratio: 1;
			background-image: inherit;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			left: 0.2em;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.video-js {
		border-radius: var(--uclearn-radius);
		background-color: var(--uclearn-translucent-bg);
		contain: content;
	}

	&.uclearn-dark-mode {
		img[src^="https://learn.canterbury.ac.nz/pix/"]
		{
			filter: var(--uclearn-translucent-filter) invert(1)
				hue-rotate(180deg) saturate(2);
		}

		.que :is(img, canvas),
		.resourceimage,
		iframe[title*="JSXGraph" i],
		.video-js .vjs-tech {
			filter: var(--uclearn-translucent-filter) invert(1)
				hue-rotate(180deg) saturate(2);
		}

		.navbar .logo,
		.drawer-primary .logo,
		img.icon,
		#logoimage,
		.questionflagimage {
			filter: invert(1) hue-rotate(180deg) saturate(2);
		}
		.activityicon {
			filter: invert(1) hue-rotate(180deg) saturate(2) !important;
		}

		img[src$="/u/f1"] {
			filter: brightness(0.5) contrast(3) brightness(0.6);
		}

		.block-timeline [data-region="no-events-empty-message"] img {
			filter: brightness(0.3) contrast(1.5);
			opacity: 0.5;
		}

		:is(
				.subcategories,
				#frontpage-category-names,
				#frontpage-category-combo
			)
			.coursebox
			> .info
			> .coursename
			a::before,
		.course_category_tree
			.category.with_children
			> .info
			> .categoryname::before {
			filter: invert(1) hue-rotate(180deg);
		}
	}

	#page-wrapper .graphimage {
		filter: var(--uclearn-graph-translucent-filter);
		margin: -30px;
		width: calc(100% + 60px);
		user-select: none;
	}

	.userinitials {
		background-color: var(--uclearn-background);
		color: var(--uclearn-foreground-muted);
	}

	/* Course Index */

	.courseindex .completioninfo {
		order: 1;
	}

	/* Course */

	.formulation {
		background-color: transparent !important;
		border-color: currentColor !important;
		color: inherit !important;
	}

	.mytimetable {
		display: grid;
		grid-template-columns: max-content repeat(5, minmax(min-content, 1fr)) min-content min-content;
		grid-template-rows: max-content;
		grid-auto-flow: row;
		grid-auto-rows: minmax(30px, 1fr);
		gap: calc(var(--uclearn-radius) / 2);
		overflow: hidden auto;
		max-height: 80vh;
		border-radius: var(--uclearn-radius);

		tbody {
			display: contents;
		}

		tr {
			display: contents;
		}

		.days {
			display: grid;
			grid-column: 1 / -1;
			grid-template-columns: subgrid;
			position: sticky;
			top: 0;
			background-color: var(--uclearn-translucent-bg);
			backdrop-filter: var(--uclearn-bg-effect);
			z-index: 10;
			margin-bottom: 0.5em;
			font-size: 1.1em;
			padding-block: 0.2em;
			height: auto;
		}

		td,
		th {
			display: block;
			border: none;
			overflow: hidden;
			min-height: 20px;
			height: 100%;
			width: 100%;
			user-select: none;

			&[rowspan="2"] {
				grid-row: span 2;
			}

			&[rowspan="3"] {
				grid-row: span 3;
			}

			&[rowspan="4"] {
				grid-row: span 4;
			}

			&[rowspan="5"] {
				grid-row: span 5;
			}

			&[rowspan="6"] {
				grid-row: span 6;
			}
		}

		.time {
			grid-column: 1;
			position: relative;
			overflow: visible;
			padding-right: 1ch;
			line-height: 0;
			margin-top: calc(var(--uclearn-radius) / -4 - 0.5px);
			text-align: right;
			color: var(--uclearn-foreground-muted);
			text-transform: uppercase;

			&::before {
				content: "";
				position: absolute;
				inset: 0 -100vw auto 100%;
				border-top: 1px solid var(--uclearn-active-tint);
				z-index: -1;
			}

			&::after {
				content: "";
				position: absolute;
				margin-top: calc(var(--uclearn-radius) / 4);
				inset: 50% -100vw auto 50%;
				border-bottom: 1px solid var(--uclearn-active-tint);
				z-index: -1;
			}
		}

		.busy {
			padding: calc(var(--uclearn-radius) / 2);
			border-radius: var(--uclearn-radius);
			background-color: color-mix(
				in srgb,
				var(--uclearn-color-complete) 20%,
				var(--uclearn-translucent-bg)
			);
			user-select: all;
			min-height: 100%;
			/* biome-ignore lint/correctness/noUnknownProperty: modern */
			interpolate-size: allow-keywords;
			transition: min-height var(--uclearn-transition-short),
				background-color var(--uclearn-transition-short);

			&:hover {
				z-index: 1;
				min-height: max-content;
				background-color: color-mix(
					in srgb,
					var(--uclearn-color-complete) 30%,
					var(--uclearn-background)
				);
			}
		}
	}
}
