:root:root:root:root:root:root:root:root {
	.popover-region-toggle {
		&::before {
			display: none;
		}

		&::after {
			clip-path: polygon(50% 0, 100% 100%, 0 100%);
			border: none;
			height: 10px;
			aspect-ratio: 2;
			bottom: -4px;
			right: 50%;
			transform: translateX(50%);
		}
	}

	.count-container {
		background-color: #ca3120;
		color: #ffffff;
		font-size: 0.7em;
		line-height: 1em;
		right: 3px;
		top: 50%;
	}

	.popover-region-container {
		border: none;
		border-radius: var(--uclearn-radius);
		width: max-content;
		max-width: min(300px, 100vw);
		height: auto;
		/* biome-ignore lint/correctness/noUnknownProperty: <explanation> */
		interpolate-size: allow-keywords;
		transition: height var(--uclearn-transition-short);
		overflow: hidden;

		.popover-region.collapsed & {
			height: 0;
			transition: height var(--uclearn-transition-short),
				opacity 101ms var(--uclearn-transition-short), visibility 101ms var(--uclearn-transition-short);
		}

		.popover-region-header-container {
			padding: 5px 10px;
			height: auto;
			display: flow-root;
		}

		.popover-region-content-container {
			height: auto;
			max-height: 50vh;
			min-height: 100px;
			
			.loading-icon {
				position: absolute;
				left: 50%;
				top: 50%;
				translate: -50% -50%;
			}

			.empty-message {
				padding: 20px;
			}
		}

		.popover-region-footer-container {
			background-color: transparent;
			height: auto;
			padding-block: 3px;
		}

		.content-item-container {
			background-color: transparent;
		}

		.navbar & {
			top: calc(100% + 3px);
		}

		.see-all-link {
			border-bottom-left-radius: inherit;
			border-bottom-right-radius: inherit;

			color: inherit;
			text-decoration: none;
			display: block;
			transition: background-color var(--uclearn-transition-short);

			&:is(:hover, :focus-visible) {
				background-color: var(--uclearn-hover-tint);
			}

			&:active {
				background-color: var(--uclearn-active-tint);
			}
		}
	}

	.notification {
		display: grid;
		grid-template: "icon header header"max-content "icon time link"max-content / max-content 1fr max-content;

		a:not(.view-more) {
			color: inherit;
		}

		:has(.notification-image, .notification-message, .timestamp) {
			display: contents;
		}

		.notification-image {
			grid-area: icon;
			display: flex;
			place-self: center;
			align-items: center;
			justify-content: center;
			margin-right: 5px;

			.icon {
				margin-right: 0;
			}
		}

		.notification-message {
			grid-area: header;
		}

		.timestamp {
			margin-right: 2ch;
			grid-area: time;
			margin-left: 0;
			align-self: end;
		}

		.view-more {
			grid-area: link;
			position: static;
			place-self: end;
		}
	}
}
