:root:root:root:root:root:root:root:root {
	#quiz-timer-wrapper {
		pointer-events: none;

		> * {
			pointer-events: all;
		}

		#quiz-timer {
			background-color: var(--uclearn-translucent-bg);
			border-radius: var(--uclearn-radius);
			border: none;
			align-content: center;
		}
	}

	.que,
	.que .correctness.badge {
		--uclearn-accent-color: #808080;

		&.correct {
			--uclearn-accent-color: var(--uclearn-color-success);
		}

		&.partiallycorrect {
			--uclearn-accent-color: var(--uclearn-color-warning);
		}

		&.incorrect,
		&.notanswered {
			--uclearn-accent-color: var(--uclearn-color-error);
		}
	}

	.automatic-completion-conditions .badge {
		--uclearn-accent-color: var(--uclearn-translucent-bg);
		color: inherit;
		background-color: color-mix(
			in srgb,
			var(--uclearn-accent-color) 30%,
			var(--uclearn-translucent-bg)
		);
		mix-blend-mode: normal;

		&.alert-success {
			--uclearn-accent-color: var(--uclearn-color-success);
		}
	}

	.que {
		padding: 0;
		margin: 0;

		.formulation,
		.outcome,
		.comment,
		.specificfeedback,
		.generalfeedback,
		.numpartscorrect,
		.rightanswer,
		.im-feedback,
		.feedback,
		.coderunnerexamples,
		p {
			margin: 0;
		}

		.content img {
			max-width: 100%;
			width: auto;
			height: auto;
		}

		.stackprtfeedback .fa {
			vertical-align: middle;
		}

		.coderunner-examples {
			margin-block: 0.5rem 0;
		}

		.prompt {
			margin-block: 0.5rem;
		}

		.table-responsive,
		.coderunner-examples {
			width: auto;
			max-width: 100%;
		}

		.coderunner-test-results {
			padding: 0;
			background: transparent;
		}

		.cr-test-table-div {
			background-color: transparent;
			padding: 0;

			table {
				height: 1px;
			}

			tr {
				height: 100%;
			}

			td:has(> :is(textarea, input):only-child) {
				padding: 0;
				height: 100%;

				> :is(textarea, input) {
					background-color: transparent;
					field-sizing: content;
					display: block;
					border: none;
					padding: 0.3rem;
					min-height: 100%;
					resize: none !important;
				}
			}
		}

		.outcome,
		.comment {
			margin: 0;
			padding: calc(var(--uclearn-radius) - 0.2em) var(--uclearn-radius);
			border-radius: var(--uclearn-radius);
			color: inherit;
			background-color: color-mix(
				in srgb,
				var(--uclearn-accent-color) 10%,
				var(--uclearn-translucent-bg) 90%
			);
			width: fit-content;
			max-width: 100%;
			margin-inline: auto;

			.correctness.badge {
				padding: 0.1em 0.8ch 0.3em;
				color: var(--uclearn-foreground);
				background-color: color-mix(
					in srgb,
					var(--uclearn-accent-color) 50%,
					var(--uclearn-background) 50%
				);
			}
		}

		.content {
			border-radius: var(--uclearn-radius);
			padding: calc(0.5 * var(--uclearn-radius));
			background-color: var(--uclearn-translucent-bg);
			margin-bottom: 1rem;
		}

		.answer .specificfeedback {
			border: 1px solid currentColor;
			border-radius: var(--uclearn-radius);
			padding: calc(var(--uclearn-radius) / 2);
			margin-inline: 1ch;
		}

		&.stack :is(.matrixsquarebrackets, .matrixroundbrackets) {
			border-color: currentColor;
		}

		&.stack .matrixsquarebrackets {
			background-image: linear-gradient(currentColor, currentColor),
				linear-gradient(currentColor, currentColor),
				linear-gradient(currentColor, currentColor),
				linear-gradient(currentColor, currentColor);
		}

		table {
			display: block;
			overflow-x: auto;
		}
	}

	.que .content {
		margin-left: 0;
	}

	.que .info {
		background-color: transparent;
		border: solid currentColor;
		border-width: 0 0 1px 1px;
		border-radius: 0 var(--uclearn-radius);
		margin: 0 0 1ch 1ch;
		padding: var(--uclearn-radius);
		float: inline-end;
		text-align: end;
		z-index: 1;
		width: max-content;
		position: sticky;
		top: var(--uclearn-nav-height);
	}

	.stack-hint {
		background-color: transparent;
		border: none;
	}

	pre:has(> [id^="stack-iframe-holder-"]) {
		display: flex;
		margin: 0.5rem;
		overflow: hidden;
	}

	.ddarea {
		img {
			padding: 0 !important;
			object-fit: contain;
			object-position: center;
			max-width: none !important;
		}
	}

	.stackprtfeedback {
		--uclearn-accent-color: #808080;
		margin: 0.2rem 1ch;
		background-color: color-mix(
			in srgb,
			var(--uclearn-accent-color) 10%,
			var(--uclearn-translucent-bg) 90%
		);
		border-radius: var(--uclearn-radius);
		padding: calc(var(--uclearn-radius) / 2);
		padding-top: 0;

		&:has(> .correct) {
			--uclearn-accent-color: var(--uclearn-color-success);
		}

		&:has(> .partiallycorrect) {
			--uclearn-accent-color: var(--uclearn-color-warning);
		}

		&:has(> .incorrect, > .notanswered) {
			--uclearn-accent-color: var(--uclearn-color-error);
		}
	}
}
