:root:root:root:root:root:root:root:root {
	.path-mod-quiz #mod_quiz_navblock {
		.mod_quiz-section-heading {
			font-weight: normal;
			font-size: 1.15rem;
			letter-spacing: 0.5px;
			padding: 0.2rem;
			margin-bottom: 0.5rem;
			border-bottom: 1px solid hsl(from currentColor h s l / 0.2);
		}

		.qnbutton {
			--uclearn-accent-bg: var(--uclearn-background);
			margin-right: 0;
			border-radius: var(--uclearn-radius);
			height: calc(1lh + 10px);
			padding-block: calc(var(--uclearn-radius) / 2);
			overflow: hidden;
			color: inherit !important;
			text-shadow: 1px 1px 6px var(--uclearn-shadow-color);
			text-decoration: none;
			background-color: rgb(
				from
					color-mix(
						in srgb,
						var(--uclearn-accent-bg) 50%,
						var(--uclearn-background) 50%
					)
					r g b / 0.4
			) !important;
			box-shadow: inset 0 0 0 100vmax transparent !important;
			transition: background-color var(--uclearn-transition-short),
				box-shadow var(--uclearn-transition-short),
				padding-block var(--uclearn-transition-short);

			.thispageholder {
				border: none;
			}

			&:is(:hover, :focus-visible) {
				box-shadow: inset 0 0 0 100vmax var(--uclearn-hover-tint) !important;

				&:not([title*="Question i"]) {
					padding-block: 0 var(--uclearn-radius);
				}

				.trafficlight {
					background-position: 50% 95%;
				}
			}

			&:active {
				box-shadow: inset 0 0 0 100vmax var(--uclearn-active-tint) !important;
			}

			&.thispage {
				.thispageholder {
					border: 2px solid var(--uclearn-color-complete);
					border-radius: var(--uclearn-radius);
					width: 100%;
					height: 100%;
				}

				& + & .thispageholder {
					border-left: none;
				}

				&:has(+ &) .thispageholder {
					border-right: none;
				}
			}

			& + & {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;

				.thispageholder {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}

			&:has(+ &) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;

				.thispageholder {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}

			.trafficlight {
				margin-top: 0;
				background-position: 50% 120%;
				background-size: auto var(--uclearn-radius);
				width: 100%;
				height: 100%;
				border-radius: 0;
				z-index: -1;
				background-color: transparent;
				transition: background-position var(--uclearn-transition-short);

				@media (prefers-color-scheme: dark) {
					& {
						filter: invert(1) hue-rotate(180deg);
					}
				}
			}

			&.notyetanswered {
				--uclearn-accent-bg: var(--uclearn-background);
			}

			&.complete,
			&.answersaved,
			&.requiresgrading {
				--uclearn-accent-bg: var(--uclearn-color-complete);
			}

			&.correct {
				--uclearn-accent-bg: var(--uclearn-color-success);
			}

			&.partiallycorrect,
			&.invalidanswer {
				--uclearn-accent-bg: var(--uclearn-color-warning);
			}

			&.notanswered,
			&.incorrect {
				--uclearn-accent-bg: var(--uclearn-color-error);
			}
		}
	}
}
