:root:root:root:root:root:root:root:root {
	/* Toasts */

	.toast-wrapper {
		max-width: none;
	}

	.toast {
		--uclearn-accent-color: transparent;
		backdrop-filter: var(--uclearn-bg-effect);
		background-color: color-mix(
			in srgb,
			var(--uclearn-accent-color) 20%,
			var(--uclearn-translucent-bg)
		);
		color: color-mix(
			in srgb,
			var(--uclearn-accent-color) 20%,
			currentColor
		);
		border: 1px solid
			color-mix(
				in srgb,
				var(--uclearn-accent-color) 50%,
				var(--uclearn-translucent-bg)
			);
		border-radius: var(--uclearn-radius);
		box-shadow: 2px 4px 8px -3px var(--uclearn-shadow-color),
			3px 6px 20px -3px var(--uclearn-shadow-color);
		min-width: min-content;

		.toast-header {
			color: inherit;
			font-weight: bold;
			border-color: currentColor;
		}

		&.toast-success {
			--uclearn-accent-color: var(--uclearn-color-success);
		}

		&.toast-warning {
			--uclearn-accent-color: var(--uclearn-color-warning);
		}

		&.toast-danger {
			--uclearn-accent-color: var(--uclearn-color-error);
		}

		&.toast-info {
			--uclearn-accent-color: var(--uclearn-color-complete);
		}
	}

	/* Modals */
	.moodle-dialogue {
		border-radius: 1rem;
		bottom: 5px;
		overflow: hidden;

		.moodle-dialogue-wrap {
			border: none;
			border-radius: var(--uclearn-radius);
			display: flex;
			flex-flow: column;
			max-height: 100%;
		}

		.moodle-dialogue-hd {
			flex: 0 0 max-content;
		}

		.moodle-dialogue-bd {
			flex: 1 1 max-content;
			overflow: auto;
		}
	}

	.modal-dialog {
		.modal-content {
			box-shadow: none;
			transition: box-shadow var(--uclearn-transition-short);
		}

		&:focus-visible .modal-content {
			box-shadow: var(--uclearn-focus-shadow);
		}

		.modal-body {
			padding: 15px;
		}
	}

	/* Popover */

	.popover .arrow,
	.tooltip .arrow {
		&::before,
		&::after {
			content: unset;
			display: none;
		}
	}

	.tooltip {
		color-scheme: dark;
		color: var(--uclearn-foreground);
	}

	.tooltip.show {
		opacity: 1;
	}

	.bs-tooltip-top > .arrow,
	.bs-tooltip-auto[x-placement^="top"] > .arrow,
	.bs-popover-top > .arrow,
	.bs-popover-auto[x-placement^="top"] > .arrow {
		clip-path: polygon(0 0, 100% 0, 50% 100%);
	}

	.bs-tooltip-right > .arrow,
	.bs-tooltip-auto[x-placement^="right"] > .arrow,
	.bs-popover-right > .arrow,
	.bs-popover-auto[x-placement^="right"] > .arrow {
		clip-path: polygon(0 50%, 100% 0, 100% 100%);
	}

	.bs-tooltip-bottom > .arrow,
	.bs-tooltip-auto[x-placement^="bottom"] > .arrow,
	.bs-popover-bottom > .arrow,
	.bs-popover-auto[x-placement^="bottom"] > .arrow {
		clip-path: polygon(50% 0, 0 100%, 100% 100%);
	}

	.bs-tooltip-left > .arrow,
	.bs-tooltip-auto[x-placement^="left"] > .arrow,
	.bs-popover-left > .arrow,
	.bs-popover-auto[x-placement^="left"] > .arrow {
		clip-path: polygon(0 0, 0 100%, 100% 50%);
	}

	#MathJax_Zoom {
		border: none;
		padding: calc(var(--uclearn-radius) / 2);
		border-radius: var(--uclearn-radius);
		box-shadow: 1px 2px 5px var(--uclearn-shadow-color);
	}

	/* Input Fields */
	.input-group:has(input:not([type="checkbox"]).form-control) {
		border: 1px solid #808080;
		border-radius: var(--uclearn-radius);
		background-color: var(--uclearn-translucent-bg);
		transition: box-shadow var(--uclearn-transition-short);

		&:has(> .form-control:focus-visible) {
			box-shadow: var(--uclearn-focus-shadow);
		}

		.input-group-text {
			border: none;
		}

		.form-control {
			background-color: transparent;
			border: none;
			border-radius: 0;
			box-shadow: none;
		}

		.btn-submit {
			border: none;
			border-radius: 0;
			background-color: transparent;
		}
	}

	/* Loading */
	.bg-pulse-grey {
		animation: none;
		background-color: var(--uclearn-hover-tint);

		&:not(.rounded-circle) {
			border-radius: 0.2em;
		}
	}

	/* Form */
	.mform {
		.col-form-label {
			padding-block: 0;
		}

		.row:has(.col-form-label) {
			align-items: baseline;
		}
	}

	.custom-select {
		background-color: var(--uclearn-background) !important;
		background-clip: text;
	}

	/* Dropdowns */
	.MathJax_Menu {
		bottom: 5px;
		max-height: max-content;
		min-height: 0;
		height: -moz-available;
		height: -webkit-fill-available;
		height: fill-available;
	}

	.dropdown-menu,
	.MathJax_Menu {
		overflow-y: auto;
		box-shadow: 1px 2px 5px var(--uclearn-shadow-color);

		.dropdown-divider {
			margin-block: 0.5rem;
			border-color: currentColor;
		}

		.dropdown-item,
		.MathJax_MenuItem {
			align-items: center;
			display: flex;
			padding-block: 0.2rem;
			background-color: transparent;
			transition: background-color var(--uclearn-transition-short),
				box-shadow var(--uclearn-transition-short),
				clip-path var(--uclearn-transition-short);

			&.hidden {
				display: none;
			}

			&:first-child {
				border-top-left-radius: inherit;
				border-top-right-radius: inherit;
				padding-top: 0.5rem;
			}

			&:last-child {
				border-bottom-left-radius: inherit;
				border-bottom-right-radius: inherit;
				padding-bottom: 0.5rem;
			}

			.dropdown-divider + & {
				clip-path: inset(-0.5rem 0 0 0);
			}

			&:has(+ .dropdown-divider) {
				clip-path: inset(0 0 -0.5rem 0);
			}

			&:is(:hover, :focus-visible, .MathJax_MenuActive):not(
					.MathJax_MenuDisabled
				) {
				--uclearn-hover-tint: color-mix(
					in srgb,
					var(--uclearn-color-complete) 50%,
					var(--uclearn-translucent-bg) 50%
				);
				background-color: var(--uclearn-hover-tint);

				.dropdown-divider + &,
				&:has(+ .dropdown-divider) {
					box-shadow: 0 0 0.5rem 0.25rem var(--uclearn-hover-tint);
				}
			}
		}

		.MathJax_MenuArrow {
			color: transparent;
			background-color: var(--uclearn-foreground-muted);
			height: 0.7em;
			width: 0.7em;
			clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
		}

		.items .dropdown-item {
			padding-block: 0.3rem;
		}

		.submenu[aria-label="Language selector"] {
			.header {
				margin-top: 2px;
			}

			.dropdown-divider {
				margin-top: 0;
			}

			.btn.btn-icon {
				width: 28px;
				height: 28px;
			}
		}
	}

	/* Pagination */
	ul.pagination {
		margin-block: 5px;
		background-color: var(--uclearn-translucent-bg);
		border-radius: var(--uclearn-radius);

		.page-link {
			background-color: transparent;
			border: none;
			margin: 0;
			border-radius: 0;
		}

		.page-item:first-child .page-link {
			border-top-left-radius: var(--uclearn-radius);
			border-bottom-left-radius: var(--uclearn-radius);
		}

		.page-item:last-child .page-link {
			border-top-right-radius: var(--uclearn-radius);
			border-bottom-right-radius: var(--uclearn-radius);
		}

		.page-item.disabled .page-link {
			color: var(--uclearn-foreground-muted);
			background-color: var(--uclearn-active-tint);
		}

		.page-link:is(:hover, :focus, :active),
		.page-item.active .page-link {
			border: none;
		}
	}
}
