:root {
  --uclearn-filters-src: "chrome-extension://__MSG_@@extension_id__/filters.svg";
  --uclearn-translucent-filter: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxmaWx0ZXIgaWQ9ImdyYXBoVHJhbnNsdWNlbnQiPjxmZUNvbG9yTWF0cml4IGluPSJTb3VyY2VHcmFwaGljIiB0eXBlPSJtYXRyaXgiIHZhbHVlcz0iMSAwIDAgMCAwCjAgMSAwIDAgMAowIDAgMSAwIDAKLTIgLTEgMCAyIDAiPjwvZmVDb2xvck1hdHJpeD48L2ZpbHRlcj48L3N2Zz4=#graphTranslucent");
  --uclearn-small-screen-size: var(--breakpoint-lg, 992px);
  --uclearn-foreground: light-dark(#000, #fff);
  --uclearn-background: light-dark(#fff, #1e1e1e);
  --uclearn-foreground-muted: hsl(from var(--uclearn-foreground) h s calc(20 + .6 * l));
  --uclearn-translucent-bg: hsla(from var(--uclearn-background) h s l / .6);
  --uclearn-bg-effect: blur(10px);
  --uclearn-hover-tint: #80808040;
  --uclearn-active-tint: #80808080;
  --uclearn-accent-color: #ce3e2e;
  --uclearn-shadow-color: #00000080;
  --uclearn-color-error: red;
  --uclearn-color-warning: #ff0;
  --uclearn-color-success: #0f0;
  --uclearn-color-complete: #0060bf;
  --uclearn-card-background: var(--uclearn-translucent-bg);
  --uclearn-section-background: var(--uclearn-translucent-bg);
  --uclearn-focus-shadow: 0 0 0 .15rem #0f6cbf, 0 0 0 .3rem #0f6cbfbf;
  --uclearn-focus-shadow-inset: inset 0 0 0 .15rem #0f6cbf, inset 0 0 0 .3rem #0f6cbfbf;
  --uclearn-transition-short-duration: .25s;
  --uclearn-transition-short-function: ease;
  --uclearn-transition-short: var(--uclearn-transition-short-duration) var(--uclearn-transition-short-function);
  --uclearn-radius: 10px;
  --uclearn-font-stack: "Open Sans", sans-serif;
}

:root:root:root:root:root:root:root:root {
  & * {
    background-color: #0000;
  }

  & [class^="row-cols-"], & [class*=" row-cols-"] {
    grid-template-columns: repeat(var(--uclearn-column-count, 1), 1fr);
    display: grid;

    & > * {
      max-width: none;
    }
  }

  & .row-cols-1 {
    --uclearn-column-count: 1;
  }

  & .row-cols-2 {
    --uclearn-column-count: 2;
  }

  & .row-cols-3 {
    --uclearn-column-count: 3;
  }

  & .row-cols-4 {
    --uclearn-column-count: 4;
  }

  & .row-cols-5 {
    --uclearn-column-count: 5;
  }

  & .row-cols-6 {
    --uclearn-column-count: 6;
  }

  & [class^="col-"], & [class*=" col-"] {
    max-width: none;
  }

  & .col-1 {
    flex: 1 0 0;
  }

  & .col-2 {
    flex: 2 0 0;
  }

  & .col-3 {
    flex: 3 0 0;
  }

  & .col-4 {
    flex: 4 0 0;
  }

  & .col-5 {
    flex: 5 0 0;
  }

  & .col-6 {
    flex: 6 0 0;
  }

  & .col-7 {
    flex: 7 0 0;
  }

  & .col-8 {
    flex: 8 0 0;
  }

  & .col-9 {
    flex: 9 0 0;
  }

  & .col-10 {
    flex: 10 0 0;
  }

  & .col-11 {
    flex: 11 0 0;
  }

  & .col-12 {
    flex: 12 0 0;
  }

  @media (width >= 576px) {
    & .row-cols-sm-1 {
      --uclearn-column-count: 1;
    }

    & .row-cols-sm-2 {
      --uclearn-column-count: 2;
    }

    & .row-cols-sm-3 {
      --uclearn-column-count: 3;
    }

    & .row-cols-sm-4 {
      --uclearn-column-count: 4;
    }

    & .row-cols-sm-5 {
      --uclearn-column-count: 5;
    }

    & .row-cols-sm-6 {
      --uclearn-column-count: 6;
    }

    & .col-sm-1 {
      flex: 1 0 0;
    }

    & .col-sm-2 {
      flex: 2 0 0;
    }

    & .col-sm-3 {
      flex: 3 0 0;
    }

    & .col-sm-4 {
      flex: 4 0 0;
    }

    & .col-sm-5 {
      flex: 5 0 0;
    }

    & .col-sm-6 {
      flex: 6 0 0;
    }

    & .col-sm-7 {
      flex: 7 0 0;
    }

    & .col-sm-8 {
      flex: 8 0 0;
    }

    & .col-sm-9 {
      flex: 9 0 0;
    }

    & .col-sm-10 {
      flex: 10 0 0;
    }

    & .col-sm-11 {
      flex: 11 0 0;
    }

    & .col-sm-12 {
      flex: 12 0 0;
    }
  }

  @media (width >= 768px) {
    & .row-cols-md-1 {
      --uclearn-column-count: 1;
    }

    & .row-cols-md-2 {
      --uclearn-column-count: 2;
    }

    & .row-cols-md-3 {
      --uclearn-column-count: 3;
    }

    & .row-cols-md-4 {
      --uclearn-column-count: 4;
    }

    & .row-cols-md-5 {
      --uclearn-column-count: 5;
    }

    & .row-cols-md-6 {
      --uclearn-column-count: 6;
    }

    & .col-md-1 {
      flex: 1 0 0;
    }

    & .col-md-2 {
      flex: 2 0 0;
    }

    & .col-md-3 {
      flex: 3 0 0;
    }

    & .col-md-4 {
      flex: 4 0 0;
    }

    & .col-md-5 {
      flex: 5 0 0;
    }

    & .col-md-6 {
      flex: 6 0 0;
    }

    & .col-md-7 {
      flex: 7 0 0;
    }

    & .col-md-8 {
      flex: 8 0 0;
    }

    & .col-md-9 {
      flex: 9 0 0;
    }

    & .col-md-10 {
      flex: 10 0 0;
    }

    & .col-md-11 {
      flex: 11 0 0;
    }

    & .col-md-12 {
      flex: 12 0 0;
    }
  }

  @media (width >= 992px) {
    & .row-cols-lg-1 {
      --uclearn-column-count: 1;
    }

    & .row-cols-lg-2 {
      --uclearn-column-count: 2;
    }

    & .row-cols-lg-3 {
      --uclearn-column-count: 3;
    }

    & .row-cols-lg-4 {
      --uclearn-column-count: 4;
    }

    & .row-cols-lg-5 {
      --uclearn-column-count: 5;
    }

    & .row-cols-lg-6 {
      --uclearn-column-count: 6;
    }

    & .col-lg-1 {
      flex: 1 0 0;
    }

    & .col-lg-2 {
      flex: 2 0 0;
    }

    & .col-lg-3 {
      flex: 3 0 0;
    }

    & .col-lg-4 {
      flex: 4 0 0;
    }

    & .col-lg-5 {
      flex: 5 0 0;
    }

    & .col-lg-6 {
      flex: 6 0 0;
    }

    & .col-lg-7 {
      flex: 7 0 0;
    }

    & .col-lg-8 {
      flex: 8 0 0;
    }

    & .col-lg-9 {
      flex: 9 0 0;
    }

    & .col-lg-10 {
      flex: 10 0 0;
    }

    & .col-lg-11 {
      flex: 11 0 0;
    }

    & .col-lg-12 {
      flex: 12 0 0;
    }
  }

  @media (width >= 1200px) {
    & .row-cols-xl-1 {
      --uclearn-column-count: 1;
    }

    & .row-cols-xl-2 {
      --uclearn-column-count: 2;
    }

    & .row-cols-xl-3 {
      --uclearn-column-count: 3;
    }

    & .row-cols-xl-4 {
      --uclearn-column-count: 4;
    }

    & .row-cols-xl-5 {
      --uclearn-column-count: 5;
    }

    & .row-cols-xl-6 {
      --uclearn-column-count: 6;
    }

    & .col-xl-1 {
      flex: 1 0 0;
    }

    & .col-xl-2 {
      flex: 2 0 0;
    }

    & .col-xl-3 {
      flex: 3 0 0;
    }

    & .col-xl-4 {
      flex: 4 0 0;
    }

    & .col-xl-5 {
      flex: 5 0 0;
    }

    & .col-xl-6 {
      flex: 6 0 0;
    }

    & .col-xl-7 {
      flex: 7 0 0;
    }

    & .col-xl-8 {
      flex: 8 0 0;
    }

    & .col-xl-9 {
      flex: 9 0 0;
    }

    & .col-xl-10 {
      flex: 10 0 0;
    }

    & .col-xl-11 {
      flex: 11 0 0;
    }

    & .col-xl-12 {
      flex: 12 0 0;
    }
  }

  & .nav-search {
    max-width: 400px;
    margin-left: .5rem;
  }

  & .btn, & .aabtn, & .btn-link, & .nav-link, & .editor_atto_toolbar button, & .editor_atto_toolbar .atto_toolbar_row, & [role="button"], & .list-group-item-action, & input[type="checkbox"], & input[type="radio"], & input[type="file"], & input[type="image"], & .sr-only-focusable, & a.dropdown-toggle, & .moodle-dialogue-base .closebutton, & button.btn-close, & .form-autocomplete-selection, & [role="treeitem"]:not([aria-expanded="true"]) {
    transition: box-shadow var(--uclearn-transition-short);
    box-shadow: none;

    &:is(:focus-visible, .focus) {
      box-shadow: var(--uclearn-focus-shadow);
    }
  }

  & body {
    color: var(--uclearn-foreground);
    background-color: #0000;
    height: 100%;
  }

  & .bg-white, & .bg-light {
    background-color: #0000 !important;
  }

  & #page.drawers .drawer-right-toggle {
    margin-right: 0;
  }

  & .card, & .drawer-toggler .btn, & .section-item, & .card-dropdown .dropdown-menu, & .multiblock-tabbed-list .nav-link, & .dropdown .btn {
    border: none;
  }

  & .card-block-wrapper {
    gap: 10px;

    & .card-block {
      margin: 0;
    }
  }

  & .card-dropdown .dropdown-menu {
    padding: 10px;
  }

  & .btn, & .dropdown-menu, & .dropdown-item, & .form-control, & .popover-body, & .custom-select, & .course-section .sectionname > a, & .yui3-button, & .table, & .generaltable, & .generaltable tr, & .toggle-category i, & .courseindex-link, & .courseindex-chevron, & .coderunner-test-results, & .block-cards .categoryname {
    color: inherit;
  }

  & .carousel-item {
    outline: none;
  }

  & .dropdown-menu {
    padding: 0;
  }

  & .dropdown-menu:not(:has(.dropdown-item:is([aria-current="true"], [aria-selected="true"]))) .dropdown-item {
    padding-inline: .75rem;
  }

  & .dropdown-divider, & .course-section {
    margin: 0;
  }

  & section.block, & .multiblock {
    margin: 0 !important;
  }

  & .generaltable .sticky-column, & .generaltable tr, & .navigation, & #region-main, & .message-app, & .list-group-item, & .popover-header, & .overlay-icon-container, & .drawer {
    background-color: #0000;
  }

  & .popover-header {
    border-color: currentColor;
  }

  & #page .main-inner {
    background-color: #0000;
    padding: 15px 0;
  }

  & .nav-tabs .nav-link.active, & .nav-tabs .nav-item.show .nav-link, & .list-group-item-action, & .text-dark, & .dimmed_text, & pre, & .text-muted {
    color: var(--uclearn-foreground-muted) !important;
  }

  & .secondary-navigation .moremenu .nav-link {
    padding-bottom: calc(.5rem - 3px);
  }

  & .multiblock-tabbed-list .nav-tabs {
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: var(--uclearn-foreground-muted) transparent;
    margin-top: -.5rem;
    padding-top: .5rem;
    flex-wrap: nowrap;
    margin-inline: -10px;
    padding-inline: 10px;
    overflow: auto hidden;
    mask-image: linear-gradient(to right, #0000 0%, #fff 10px calc(100% - 10px), #0000 100%);
  }

  & tr.spacer {
    height: 0;
  }

  & .block_multiblock:has(.multiblock):not(:has(.multiblock .row > *)) {
    display: none;
  }
}

:root:root:root:root:root:root:root:root {
  & #page-footer, & #footnote {
    display: none;
  }

  & #page-header {
    margin-top: calc(15px + 1em - 1lh);

    & > .w-100 {
      position: relative;

      & form:has(input[name="reset"][value="1"]) .btn {
        margin-top: calc(.5lh - .5em);
        position: absolute;
        right: 0;
      }
    }

    &:has( + .secondary-navigation) {
      margin-bottom: 0;
    }
  }

  & body:not(#page-login-index) #page-wrapper {
    grid: [navbar] max-content[navbar-end page] 1fr[page-end] / [far-left drawer-left] max-content[drawer-left-end left-gutter] minmax(5px, 1fr)[left-gutter-end page-left] minmax(0, 90vw)[page-right right-gutter] minmax(5px, 1fr)[right-gutter-end drawer-right] max-content[drawer-right-end scrollbar-gutter far-right] min-content[scrollbar-gutter-end];
    width: 100%;
    display: grid;
    overflow: clip;

    &:before {
      content: "";
      backdrop-filter: var(--uclearn-bg-effect);
      grid-area: navbar / scrollbar-gutter / page-end / scrollbar-gutter-end;
      width: 100%;
      height: 100%;
      display: block;
    }

    & .navbar {
      grid-area: navbar / far-left / navbar-end / far-right;
    }

    & #page {
      grid-area: navbar / far-left / page-end / scrollbar-gutter-end;
      grid-template-rows: subgrid;
      grid-template-columns: subgrid;
      margin-top: 0;
      display: grid;
      margin-inline: 0 !important;
      overflow-y: auto !important;

      & :has(:where(#page-content)) {
        display: contents;
      }

      & .main-inner {
        grid-area: page / far-left / page-end / far-right;
        grid-template-rows: repeat(99, max-content);
        grid-template-columns: subgrid;
        height: fit-content;
        min-height: 0;
        display: grid;

        &:before {
          grid-area: 1 / page-left / -1 / page-right;
        }

        & .drawer-toggler {
          grid-area: 1 / far-left / 1 / far-right;
        }

        & > * {
          grid-column: page-left / page-right;
          width: 100%;
          min-width: 0;
        }

        @media (width <= 992px) {
          &:before, & > * {
            grid-column: far-left / far-right;
          }
        }
      }
    }
  }
}

:root:root:root:root:root:root:root:root {
  & .moodle-dialogue-base {
    border-radius: 1rem;

    & .moodle-dialogue-wrap {
      border: none;
    }
  }

  & .modal-dialog {
    & .modal-content {
      box-shadow: none;
      transition: box-shadow var(--uclearn-transition-short);
    }

    &:focus-visible .modal-content {
      box-shadow: var(--uclearn-focus-shadow);
    }

    & .modal-body {
      padding: 15px;
    }
  }

  & .popover .arrow, & .tooltip .arrow {
    &:before, &:after {
      content: unset;
      display: none;
    }
  }

  & .tooltip.show {
    opacity: 1;
  }

  & .bs-tooltip-top > .arrow, & .bs-tooltip-auto[x-placement^="top"] > .arrow, & .bs-popover-top > .arrow, & .bs-popover-auto[x-placement^="top"] > .arrow {
    clip-path: polygon(0 0, 100% 0, 50% 100%);
  }

  & .bs-tooltip-right > .arrow, & .bs-tooltip-auto[x-placement^="right"] > .arrow, & .bs-popover-right > .arrow, & .bs-popover-auto[x-placement^="right"] > .arrow {
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
  }

  & .bs-tooltip-bottom > .arrow, & .bs-tooltip-auto[x-placement^="bottom"] > .arrow, & .bs-popover-bottom > .arrow, & .bs-popover-auto[x-placement^="bottom"] > .arrow {
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
  }

  & .bs-tooltip-left > .arrow, & .bs-tooltip-auto[x-placement^="left"] > .arrow, & .bs-popover-left > .arrow, & .bs-popover-auto[x-placement^="left"] > .arrow {
    clip-path: polygon(0 0, 0 100%, 100% 50%);
  }

  & .input-group:has(input:not([type="checkbox"]).form-control) {
    border-radius: var(--uclearn-radius);
    background-color: var(--uclearn-translucent-bg);
    transition: box-shadow var(--uclearn-transition-short);
    border: 1px solid gray;

    &:has( > .form-control:focus-visible) {
      box-shadow: var(--uclearn-focus-shadow);
    }

    & .input-group-text {
      border: none;
    }

    & .form-control {
      box-shadow: none;
      background-color: #0000;
      border: none;
      border-radius: 0;
    }

    & .btn-submit {
      background-color: #0000;
      border: none;
      border-radius: 0;
    }
  }

  & .bg-pulse-grey {
    background-color: var(--uclearn-hover-tint);
    animation: none;

    &:not(.rounded-circle) {
      border-radius: .2em;
    }
  }

  & .mform {
    & .col-form-label {
      padding-block: 0;
    }

    & .row:has(.col-form-label) {
      align-items: baseline;
    }
  }

  & .custom-select {
    background-clip: text;
    background-color: var(--uclearn-background) !important;
  }

  & .dropdown-menu {
    overflow-y: auto;

    & .dropdown-item:first-child {
      padding-top: .5rem;
    }

    & .dropdown-item:last-child {
      padding-bottom: .5rem;
    }

    & .dropdown-divider {
      margin-block: .5rem;
    }

    & .dropdown-item {
      align-items: center;

      &:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
      }

      &:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
      }
    }

    & .dropdown-item:hover {
      .dropdown-divider + & {
        clip-path: inset(-.5rem 0 0);
        box-shadow: 0 0 .5rem .25rem #0f6cbf;
      }

      &:has( + .dropdown-divider) {
        clip-path: inset(0 0 -.5rem);
        box-shadow: 0 0 .5rem .25rem #0f6cbf;
      }
    }
  }

  & .toggle-category, & .icons-collapse-expand {
    & .collapsed, & .expanded-icon {
      transition: rotate var(--uclearn-transition-short);
      display: inline-block;
      rotate: none;

      [aria-expanded="false"] > & {
        visibility: hidden;
        position: absolute;
        rotate: -90deg;
      }
    }

    & .expanded, & .collapsed-icon {
      transition: rotate var(--uclearn-transition-short);
      display: inline-block;
      rotate: none;

      [aria-expanded="true"] > & {
        visibility: hidden;
        position: absolute;
        rotate: 90deg;
      }
    }
  }
}

:root:root:root:root:root:root:root:root {
  & .navigation .nav-item:not(.dropdown), & .navbar .dropdown .dropdown-toggle, & #usernavigation .nav-link, & .drawer-toggler .btn, & .editmode-switch-form .input-group, & .message-app :is(.view-overview-body, [data-region="view-contacts"]) :is(.list-group-item, .overview-section-toggle), & .block-add.btn, & .custom-select, & .activity, & .closewidget .btn-link, & .message-app [data-route="view-contacts"], & .moodle-dialogue-base .closebutton, & .generaltable tr, & .notification, & .courseindex-item, & .drawertoggle.btn {
    --uclearn-background-tint: transparent;
    transition: box-shadow var(--uclearn-transition-short);
    background-color: #0000;
    box-shadow: var(--uclearn-pre-shadow, ) inset 0 0 0 100vmax var(--uclearn-background-tint) !important;

    &:is(:hover, :focus-visible, .focus), &.nav-item:has( > .nav-link:focus-visible), &.input-group:has(input:focus-visible) {
      --uclearn-background-tint: var(--uclearn-hover-tint);
      color: var(--uclearn-foreground-muted);
    }

    &:is(:active, .active) {
      --uclearn-background-tint: var(--uclearn-active-tint);
    }
  }

  & :is(.block-add.btn, .custom-select, .closewidget .btn-link, .message-app [data-route="view-contacts"], .courseindex-item, .moodle-dialogue-base .closebutton):focus-visible {
    box-shadow: inset 0 0 0 100vmax var(--uclearn-background-tint), var(--uclearn-focus-shadow) !important;
  }

  & .message-app :is(.view-overview-body, [data-region="view-contacts"]) :is(.list-group-item, .overview-section-toggle) {
    --uclearn-pre-shadow: inset 0 0 transparent, inset 0 0 transparent, ;

    &:focus-visible {
      box-shadow: var(--uclearn-focus-shadow-inset), inset 0 0 0 100vmax var(--uclearn-background-tint) !important;
    }
  }

  & .navigation .nav-item:not(.dropdown), & .navbar .dropdown .dropdown-toggle, & .editmode-switch-form .input-group, & #usernavigation .nav-link {
    --uclearn-pre-shadow: inset 0 0 transparent, ;

    &:focus-visible, &:has(.nav-link:focus-visible), &.input-group:has(input:focus-visible) {
      box-shadow: inset 0 0 0 .2rem var(--uclearn-accent-color), inset 0 0 0 100vmax var(--uclearn-background-tint) !important;
    }
  }

  & .drawer-toggler .btn:focus-visible, & .drawertoggle.btn:focus-visible {
    box-shadow: inset 0 0 0 100vmax var(--uclearn-background-tint), 0 0 0 .2rem var(--uclearn-accent-color) !important;
  }

  & .multiblock-tabbed-list .nav-link {
    --uclearn-bg-color: transparent;
    border-radius: var(--uclearn-radius) var(--uclearn-radius) 0 0;
    color: var(--uclearn-foreground-muted);
    transition: background-color var(--uclearn-transition-short), box-shadow var(--uclearn-transition-short), border-radius var(--uclearn-transition-short);
    outline: none;
    position: relative;
    background-color: var(--uclearn-bg-color) !important;

    &:focus-visible {
      box-shadow: var(--uclearn-focus-shadow) !important;
    }

    &:before {
      box-shadow: var(--uclearn-radius) 0 var(--uclearn-shadow-color);
      right: calc(100% - .5px);
    }

    &:after {
      box-shadow: calc(-1 * var(--uclearn-radius)) 0 var(--uclearn-shadow-color);
      left: calc(100% - .5px);
    }

    &:before, &:after {
      content: "";
      --uclearn-shadow-color: transparent;
      height: 100%;
      width: calc(var(--uclearn-radius) * 2);
      pointer-events: none;
      clip-path: inset(0 .5px);
      transition: box-shadow var(--uclearn-transition-short), border-radius var(--uclearn-transition-short);
      position: absolute;
      top: 0;
    }

    &:is(:hover, :focus-visible, .focus):not(:active, .active) {
      --uclearn-bg-color: var(--uclearn-hover-tint);
      z-index: 1;

      &:before {
        border-bottom-right-radius: var(--uclearn-radius);
        --uclearn-shadow-color: var(--uclearn-bg-color);
      }

      & + &, .nav-item:has( > &) + .nav-item > & {
        border-top-left-radius: 0;

        &:before {
          --uclearn-shadow-color: transparent;
          border-radius: 0;
        }
      }

      &:after {
        border-bottom-left-radius: var(--uclearn-radius);
        --uclearn-shadow-color: var(--uclearn-bg-color);
      }

      &:has( + &), .nav-item:has( + .nav-item > &) > & {
        border-top-right-radius: 0;

        &:after {
          --uclearn-shadow-color: transparent;
          border-radius: 0;
        }
      }
    }

    &:is(:active, .active) + &:is(:hover, :focus-visible, .focus), .nav-item:has( > &:is(:active, .active)) + .nav-item > &:is(:hover, :focus-visible, .focus) {
      border-top-left-radius: 0;
      border-bottom-left-radius: var(--uclearn-radius);

      &:before {
        border-top-right-radius: var(--uclearn-radius);
        border-bottom-right-radius: 0;
      }
    }

    &:is(:hover, :focus-visible, .focus):has( + &:is(:active, .active)), .nav-item:has( + .nav-item > &:is(:active, .active)) > &:is(:hover, :focus-visible, .focus) {
      border-top-right-radius: 0;
      border-bottom-right-radius: var(--uclearn-radius);

      &:after {
        border-top-left-radius: var(--uclearn-radius);
        border-bottom-left-radius: 0;
      }
    }

    &:is(:active, .active) {
      --uclearn-bg-color: var(--uclearn-active-tint);
      z-index: 2;
      color: var(--uclearn-foreground);

      &:before {
        border-bottom-right-radius: var(--uclearn-radius);
        --uclearn-shadow-color: var(--uclearn-bg-color);
      }

      & + &, .nav-item:has( > &) + .nav-item > & {
        border-top-left-radius: 0;

        &:before {
          --uclearn-shadow-color: transparent;
          border-radius: 0;
        }
      }

      &:after {
        border-bottom-left-radius: var(--uclearn-radius);
        --uclearn-shadow-color: var(--uclearn-bg-color);
      }

      &:has( + &), .nav-item:has( + .nav-item > &) > & {
        border-top-right-radius: 0;

        &:after {
          --uclearn-shadow-color: transparent;
          border-radius: 0;
        }
      }
    }
  }
}

:root:root:root:root:root:root:root:root {
  & .popover-region-toggle:after, & .popover-region-container, & .drawer-toggler .btn, & .popover, & .popover .arrow, & .tooltip-inner, & .tooltip .arrow, & .moodle-dialogue-base .moodle-dialogue-wrap, & .card.emoji-picker {
    background-color: var(--uclearn-translucent-bg);
    backdrop-filter: var(--uclearn-bg-effect);
  }

  & .navbar, & .dropdown-menu, & #page .main-inner, & .modal-content, & .login-container, & .drawer {
    background-color: #0000;

    &:not(.dropdown-menu) {
      position: relative;
    }

    &.login-container {
      contain: content;
    }

    &:before {
      content: "";
      z-index: -1;
      background-color: var(--uclearn-translucent-bg);
      backdrop-filter: var(--uclearn-bg-effect);
      border-radius: inherit;
      position: absolute;
      inset: 0;
    }
  }
}

:root:root:root:root:root:root:root:root {
  & .navbar {
    height: auto;
    padding-right: 0;

    &.fixed-top {
      border-bottom: none;
    }

    & .container-fluid {
      align-items: stretch;
    }

    & :is(.navbar-brand, .logo) {
      max-width: unset;
      width: auto !important;
      height: 100% !important;
    }

    & .nav-link {
      background-color: #0000;
      padding-inline: 1em;
    }

    & .nav-link, & .dropdown {
      color: var(--uclearn-foreground);
    }
  }

  & #usernavigation {
    & #user-menu-toggle {
      padding-inline: 0;

      & .userbutton {
        order: 1;
        scale: .8;
      }
    }

    & .editmode-switch-form, & [id^="searchinput-navbar"] {
      order: -1;
    }

    & [id^="searchinput-navbar"] .btn {
      border: none;
    }

    & .divider:last-of-type {
      display: none;
    }

    & .editmode-switch-form .input-group {
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-inline: .5rem;
      position: relative;

      & label {
        z-index: 2;
        color: #0000;
        font-size: 0;
        display: block;
        position: absolute;
        inset: 0;
        margin: 0 !important;
      }

      & .custom-control-label {
        display: none;
      }

      & .custom-control {
        aspect-ratio: 1;
        background-color: currentColor;
        width: 1.1em;
        max-width: 24px;
        min-height: 0;
        padding: 0;
        mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXBlbmNpbCI+PHBhdGggZD0iTTIxLjE3NCA2LjgxMmExIDEgMCAwIDAtMy45ODYtMy45ODdMMy44NDIgMTYuMTc0YTIgMiAwIDAgMC0uNS44M2wtMS4zMjEgNC4zNTJhLjUuNSAwIDAgMCAuNjIzLjYyMmw0LjM1My0xLjMyYTIgMiAwIDAgMCAuODMtLjQ5N3oiLz48cGF0aCBkPSJtMTUgNSA0IDQiLz48L3N2Zz4=");
        mask-size: cover;

        &:has(.custom-control-input:checked) {
          mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXBlbmNpbC1vZmYiPjxwYXRoIGQ9Im0xMCAxMC02LjE1NyA2LjE2MmEyIDIgMCAwIDAtLjUuODMzbC0xLjMyMiA0LjM2YS41LjUgMCAwIDAgLjYyMi42MjRsNC4zNTgtMS4zMjNhMiAyIDAgMCAwIC44My0uNUwxNCAxMy45ODIiLz48cGF0aCBkPSJtMTIuODI5IDcuMTcyIDQuMzU5LTQuMzQ2YTEgMSAwIDEgMSAzLjk4NiAzLjk4NmwtNC4zNTMgNC4zNTMiLz48cGF0aCBkPSJtMTUgNSA0IDQiLz48cGF0aCBkPSJtMiAyIDIwIDIwIi8+PC9zdmc+");
        }
      }
    }
  }

  & .moremenu, & .navigation .nav-link {
    height: 100%;
  }

  & .navigation .nav-link:not(.dropdown):focus {
    box-shadow: none !important;
  }

  & .navigation .dropdown .dropdown-toggle.nav-link {
    border: none;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    display: flex;
  }

  & #searchform-navbar {
    background-color: #0000;
    height: 100%;
    position: relative;
    left: 1px;
  }

  & .navigation {
    border-bottom: none;
    margin: 0;
    padding: 0;

    & .nav-tabs {
      background-color: #0000;
    }

    & .nav-link {
      background-color: #0000;

      &:not(.active) {
        border-color: #0000;
      }
    }
  }

  & #user-action-menu {
    color: var(--uclearn-foreground);

    & .loggedinas {
      margin-bottom: -.5rem;
    }
  }
}

:root:root:root:root:root:root:root:root {
  & .block-region {
    flex-flow: column;
    gap: 1.5rem;
    display: flex;

    & > :empty {
      display: none;
    }
  }

  & .block-timeline :first-child .row + .border-bottom {
    padding: 0 !important;
  }

  & .block_ace-card-title {
    padding-bottom: 0;
  }

  & .block_myoverview .card-body {
    padding: 1rem !important;
  }

  & .card {
    background-color: red;
    margin: 0;
  }

  & section.card {
    background-color: var(--uclearn-section-background);
  }

  & .card.block .card-body.p-0 {
    padding: 1rem !important;
  }

  & .card-body .card-text:first-child {
    margin-top: 0 !important;
  }

  & .card.block_multiblock:not(:has(.multiblock-tabbed-list)) {
    background-color: #0000;
  }

  & .block-recentlyaccessedcourses .paging-bar-container {
    margin-bottom: .2rem !important;
  }

  & .block-cards [data-region^="loading-placeholder"] .card-grid {
    & .col {
      padding: 0 !important;
    }

    .block-recentlyaccessedcourses & {
      display: flex;

      & .col {
        width: 240px;
        max-width: 100%;
        flex: none !important;
      }
    }

    & .card {
      width: 100%;
      height: 100%;
      overflow: hidden;
      padding: 0 !important;
    }
  }

  & .block-myoverview {
    min-height: inherit;
    flex-flow: column;
    display: flex;

    & hr {
      display: none;
    }

    & :has([data-region="loading-placeholder-content"]) {
      display: contents;
    }

    & [data-region="loading-placeholder-content"] {
      flex-flow: column;
      flex-grow: 1;
      display: flex;

      & .card-grid {
        flex: 1;
      }
    }
  }

  & .block-cards .card-grid, & .card-carousel {
    column-gap: 1rem;
    padding: 1rem;
    margin: -1rem !important;

    & .col {
      margin: 0 !important;
    }
  }

  & .block-cards [data-region^="loading-placeholder"] .card-grid .card, & .course-card {
    background-color: #0000;
    background-image: linear-gradient(0deg, var(--uclearn-card-background), var(--uclearn-card-background));
    transition: box-shadow var(--uclearn-transition-short), background-color var(--uclearn-transition-short), transform var(--uclearn-transition-short);
    box-shadow: 1px 2px 4px var(--uclearn-shadow-color) !important;
    margin: 0 !important;

    &:is(:hover, :focus-within):not(:has(.dropdown-menu:is(:hover, :focus-within))) {
      background-color: var(--uclearn-hover-tint);
      transform: translate(-1px, -2px);
      box-shadow: 2px 4px 12px var(--uclearn-shadow-color) !important;

      & a:not(.dropdown-item) {
        text-decoration: underline;
      }
    }
  }

  & .block_ace .card-body {
    width: 100%;
  }

  & .multiblock .row {
    align-items: stretch;
    gap: 10px;
    margin-inline: 0;

    & > * {
      margin: 0;
    }
  }
}

:root:root:root:root:root:root:root:root {
  & .drawer, & .drawer[data-region], & #page, & .navbar {
    top: unset;
    left: unset;
    right: unset;
    height: auto;
    min-height: 0;
    position: relative !important;
  }

  & .drawer {
    --uclearn-drawer-transitions: margin-inline var(--uclearn-transition-short);
    height: auto;
    transition: var(--uclearn-drawer-transitions);
    grid-template-rows: [a] max-content[b] minmax(max-content, 1fr)[c];
    display: grid;
    overflow: hidden auto;

    &.scrolled {
      box-shadow: inset 0 8px 11px -7px #00000040;
    }

    &:is(.drawer-left, .drawer-right):not(.show), &[data-region].hidden {
      transition: var(--uclearn-drawer-transitions), visibility 0s var(--uclearn-transition-short-duration), opacity 0s var(--uclearn-transition-short-duration);
    }

    &:not(.show) {
      &.drawer-left {
        margin-left: -285px;
      }

      &.drawer-right {
        margin-right: -315px;
      }
    }

    &.hidden {
      &[data-region="left-hand-drawer"] {
        margin-left: -320px;
      }

      &[data-region="right-hand-drawer"] {
        margin-right: -320px;
      }
    }

    #page-wrapper &:before {
      grid-row: a / c;
      width: 100%;
      height: 100%;
      display: block;
      inset: auto;
    }

    & > * {
      grid-row: b / c;
      height: auto;
      overflow-y: hidden;
    }

    & .drawercontent {
      min-height: max-content;
    }

    & .drawerheader {
      height: auto;
      box-shadow: none;
      grid-row: a / b;
      padding-top: 10px;
      position: sticky;
      top: 0;
      overflow: visible;
    }
  }

  & .drawer-left, & [data-region="left-hand-drawer"].drawer {
    grid-area: page / drawer-left / page-end / drawer-left-end;
  }

  & .drawer-right, & [data-region="right-hand-drawer"].drawer {
    grid-area: page / drawer-right / page-end / drawer-right-end;
  }

  @media (width >= 992px) {
    & .drawer:not(.hidden)[data-region="right-hand-drawer"], & .drawer-right.show {
      transition: var(--uclearn-drawer-transitions), z-index 0s var(--uclearn-transition-short-duration);
    }

    & .drawer.hidden[data-region="right-hand-drawer"], & .drawer-right:not(.show) {
      z-index: -1;
    }
  }

  & #page.drawers, & .drawer {
    scrollbar-color: var(--uclearn-foreground-muted) var(--uclearn-translucent-bg);
    scrollbar-width: auto;
  }

  & .drawer {
    scrollbar-width: thin;
  }

  & .drawer-right {
    transform: scaleX(-1);

    & > * {
      transform: scaleX(-1);
    }
  }

  & .drawer-toggles {
    display: contents !important;

    & .drawer-toggler {
      pointer-events: all;
      position: fixed;
      inset: auto;

      &.drawer-right-toggle {
        justify-self: end;
      }

      & .btn {
        transition: padding var(--uclearn-transition-short), box-shadow var(--uclearn-transition-short);
      }
    }

    & .drawer-right-toggle {
      clip-path: inset(-100vmax 0 -100vmax -100vmax);
    }
  }
}

:root:root:root:root:root:root:root:root {
  & .popover-region-toggle {
    &:before {
      display: none;
    }

    &:after {
      clip-path: polygon(50% 0, 100% 100%, 0 100%);
      aspect-ratio: 2;
      border: none;
      height: 10px;
      bottom: -4px;
      right: 50%;
      transform: translateX(50%);
    }
  }

  & .popover-region-container {
    border-radius: var(--uclearn-radius);
    interpolate-size: allow-keywords;
    width: max-content;
    max-width: min(300px, 100vw);
    height: auto;
    transition: height var(--uclearn-transition-short);
    border: none;
    overflow: hidden;

    .popover-region.collapsed & {
      height: 0;
      transition: height var(--uclearn-transition-short), opacity .101s var(--uclearn-transition-short), visibility .101s var(--uclearn-transition-short);
    }

    & .popover-region-header-container {
      height: auto;
      padding: 5px 10px;
      display: flow-root;
    }

    & .popover-region-content-container {
      height: auto;
      max-height: 50vh;

      & .loading-icon, & .empty-message {
        padding: 20px;
      }
    }

    & .popover-region-footer-container, & .content-item-container {
      background-color: #0000;
    }

    .navbar & {
      top: calc(100% + 3px);
    }
  }

  & .notification {
    grid-template: "icon header header" max-content
                   "icon time link" max-content
                   / max-content 1fr max-content;
    display: grid;

    & :has(.notification-image, .notification-message, .timestamp) {
      display: contents;
    }

    & .notification-image {
      grid-area: icon;
      justify-content: center;
      place-self: center;
      align-items: center;
      margin-right: 5px;
      display: flex;

      & .icon {
        margin-right: 0;
      }
    }

    & .notification-message {
      grid-area: header;
    }

    & .timestamp {
      grid-area: time;
      align-self: end;
      margin-left: 0;
      margin-right: 2ch;
    }

    & .view-more {
      grid-area: link;
      place-self: end;
      position: static;
    }
  }
}

@font-face {
  font-family: Noto Color Emoji;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/noto-color-emoji/noto-color-emoji-only.woff") format("woff");
}

:root:root:root:root:root:root:root:root {
  & .drawer:has( > .message-app), & .message-app {
    overflow: visible;
  }

  & .message-app {
    font-family: "Noto Color Emoji", var(--uclearn-font-stack);
    contain: layout;

    & .view-overview-body {
      & .card {
        background-color: #0000;
      }

      & .card-header {
        padding: 0;

        & .overview-section-toggle {
          border-inline: none;
          border-top: none;

          & .collapsed-icon-container {
            display: none;
          }

          & .expanded-icon-container {
            transition: rotate var(--uclearn-transition-short);
            font-size: .8em;
            display: inline-block;
            rotate: none;
          }

          &.collapsed .expanded-icon-container {
            rotate: -90deg;
          }
        }
      }

      & .list-group-item {
        & .rounded-circle {
          margin-block: .5em !important;
        }

        & .text-truncate {
          margin-inline: 0 !important;
        }

        & .last-message:has(span:empty) {
          display: none;
        }
      }
    }

    & :is(.view-overview-body, [data-region="view-contacts"]) .list-group-item {
      border: none;
      outline: none;
      column-gap: 5px;
      margin: 0;
    }

    & [data-region="view-contacts"] .list-group-item {
      align-items: center;

      & h6 {
        margin-bottom: 0;
      }
    }

    &.border {
      border: none !important;

      & > .container-fluid {
        padding: 0;
      }
    }

    & :has( > .message) {
      row-gap: 1lh;
    }

    & .day {
      color: var(--uclearn-foreground-muted);
    }

    & a[data-action="view-contact"] {
      align-items: center;
    }

    & .content-message-container {
      scrollbar-width: thin;
      padding: .5em;
    }

    & .header-container {
      border-bottom: 1px solid;
      align-items: center;
      display: flex;

      & > * {
        flex-grow: 1;
        border-bottom: none !important;
        padding-block: .2rem !important;
      }
    }

    & .header-container [data-route="view-contacts"] {
      border-radius: var(--uclearn-radius);
      margin-top: .2rem;
      padding: 3px 5px;
      text-decoration: none;
      display: inline-block;

      :has( > &) {
        margin-top: 0 !important;
      }
    }

    & .footer-container, & .footer-container [data-region="view-conversation"]:not(.hidden) {
      display: contents;
    }

    & .footer-container [data-region="view-overview"], & [data-region="content-messages-footer-container"] {
      border: inherit;
      grid-area: footer;
    }

    & [data-region="content-messages-footer-edit-mode-container"] {
      pointer-events: none;
      grid-area: header;
      place-self: center end;
      margin-right: 2.25rem;
      position: absolute;
      padding: 0 !important;

      & > * {
        padding: 0 !important;
      }

      & .btn {
        pointer-events: all;
        scale: .7;
        margin: 0 !important;
      }
    }

    & .message {
      color: inherit;
      box-shadow: none;
      background-color: #0000;
      outline: none;
      justify-content: flex-end;
      align-items: baseline;
      column-gap: 5px;
      border-radius: 0 !important;
      margin: 0 !important;
      padding: 0 !important;

      & .tail {
        display: none;
      }

      & [data-region="text-container"] {
        background-color: var(--uclearn-translucent-bg);
        transition: box-shadow var(--uclearn-transition-short);
        border-radius: .7rem;
        order: 10;
        padding: .5rem;
      }

      &:has([data-region*="selected-icon"]:not(.hidden)) {
        padding-left: 2em !important;

        &.send {
          padding-left: 2.5em !important;
        }
      }

      &.send {
        flex-flow: wrap !important;
        padding-left: .5em !important;

        & [data-region="text-container"] {
          border-bottom-right-radius: .2rem;
        }
      }

      &.received {
        flex-flow: row-reverse wrap !important;
        padding-right: .5em !important;

        & [data-region="text-container"] {
          border-bottom-left-radius: .2rem;
        }

        & > .d-flex [data-region="retry-send"] {
          order: 4;
        }
      }

      & > .d-flex {
        padding: 0 !important;
        display: contents !important;

        & > * {
          margin: 0 !important;
        }

        & [data-region="error-message-container"] {
          order: 5;
        }

        & [data-region="retry-send"] {
          order: 6;
          margin-left: -5px !important;
        }

        & [data-region*="selected-icon"] {
          position: absolute;
          top: 50%;
          left: .5em;
          transform: translateY(-50%);
        }

        & div:has( > img.rounded-circle,  > h6) {
          display: none;
        }

        & .time {
          color: var(--uclearn-foreground-muted);
          clip-path: rect(0 0 0 0);
          order: 9;
          margin-top: -1lh !important;
        }
      }

      &:is(:hover, :focus-visible) .time {
        clip-path: none;
      }

      &:focus-visible [data-region="text-container"] {
        box-shadow: var(--uclearn-focus-shadow);
      }
    }

    & .footer-container {
      & textarea.form-control {
        field-sizing: content;
        height: max-content;
        min-height: 0;
        box-shadow: none;
        background-color: #0000;
        border: none;
        border-radius: 0;
        max-height: 35vh;
        padding-right: 0;
      }

      & .d-flex:has( > textarea.form-control) {
        background-color: var(--uclearn-translucent-bg);
        border-radius: var(--uclearn-radius);
        transition: box-shadow var(--uclearn-transition-short);
        border: 1px solid gray;
        align-items: center;

        &:has( > textarea.form-control:focus-visible) {
          box-shadow:   var(--uclearn-focus-shadow);
        }

        & > div {
          display: contents !important;

          [data-enter-to-send="1"] & button[data-action*="send"] {
            display: none;
          }
        }
      }

      & .emoji-picker {
        overflow: hidden;

        & .card-header {
          padding: 0 !important;

          & .category-button {
            border-top: 2px solid #0000;
          }
        }

        & .card-footer:has(.emoji-preview:empty) {
          display: none !important;
        }
      }
    }
  }

  & .drawer .message-app {
    grid-template: "header close" max-content
                   "content content" minmax(max-content, 1fr)
                   "footer footer" max-content
                   / 1fr max-content;
    display: grid;

    & .closewidget {
      border-bottom: 1px solid;
      grid-area: close;
      justify-content: center;
      align-items: start;
      display: flex;
      padding: .5rem 3px !important;

      & .btn-link {
        border-radius: 5px;
        padding: 5px;
        line-height: 1;
      }
    }

    & .header-container {
      grid-area: header;
    }

    & .body-container {
      grid-area: content;
    }

    & .footer-container {
      grid-area: footer;
    }
  }

  & #page .main-inner-wrapper:has(#region-main > * > .message-app) {
    flex-flow: column;
    display: flex;

    & #topofscroll {
      padding: 0;
    }

    & #page-content {
      height: 100%;
      padding: 0 !important;
    }

    & #region-main-box {
      height: 100%;
    }

    & #region-main > * {
      padding: 0;
    }

    & .message-app {
      & .conversationcontainer {
        flex: 0 0 250px;
        max-width: 250px;
      }

      & .conversationcontainer + * {
        flex: 1 0;
        max-width: none;
      }

      & .panel-header-container [data-region="view-overview"] {
        padding-top: .5rem !important;
      }
    }
  }
}

:root:root:root:root:root:root:root:root {
  & .ace-tm {
    color: inherit;
    background-color: #0000;
  }

  & .ace_editor {
    background-color: var(--uclearn-translucent-bg);
    color: inherit;
    border-radius: var(--uclearn-radius);
    box-sizing: content-box;
    padding-block: .5rem;
    width: auto !important;
  }

  & .ace_indent-guide {
    background-image: linear-gradient(to left, var(--uclearn-hover-tint) 0% 1px, transparent 1px);
  }

  & .ace_gutter {
    background: var(--uclearn-hover-tint);
    color: var(--uclearn-foreground-muted);
    padding-block: .5rem;
  }

  & .ace_scroller {
    margin-block: .5rem;
    overflow: visible;
  }

  & .ace-gap-outline {
    outline-color: hsla(from currentColor h s l / .5);
  }

  & .ace_editor:not(:has(.ace_gutter)) > .ace_scroller, & .ace_gutter[style*="display"][style*="none"] + .ace_scroller {
    margin-inline: .5rem;

    .ace_editor:has( > &) {
      padding-inline: .5rem;
    }
  }

  & .ace_print-margin {
    background: var(--uclearn-active-tint);
  }

  & .ace_fold {
    background-color: #6b72e6;
  }

  & .ace_cursor {
    color: var(--uclearn-foreground);
  }

  & .ace_storage, & .ace_keyword {
    color: light-dark(#a8009a, #ff59f9);
  }

  & .ace_constant {
    color: light-dark(#585142, #ccc3a9);
  }

  & .ace_invalid {
    background-color: hsla(from var(--uclearn-color-error) h s 50 / .3);
    color: var(--uclearn-color-error);
  }

  & .ace_identifier:has( + .ace_lparen), & .ace_support.ace_function {
    color: light-dark(#5f00a8, #d59eff);
  }

  & .ace_support.ace_type, & .ace-tm .ace_support.ace_class {
    color: #6d79de;
  }

  & .ace_keyword.ace_operator {
    color: var(--uclearn-foreground);
  }

  & .ace_string {
    color: light-dark(#5d2a00, #b2ff6f);
  }

  & .ace_comment {
    color: light-dark(#006834, #6fffb7);
  }

  & .ace_comment.ace_doc {
    color: light-dark(#004c68, #6fd9ff);
  }

  & .ace_constant.ace_numeric {
    color: light-dark(#00399b, #5f99fd);
  }

  & .ace_identifier {
    color: light-dark(#926b10, #ffe8a4);
  }

  & .ace_entity.ace_name.ace_function {
    color: light-dark(#a83800, #ffb259);
  }

  & .ace_string.ace_regex {
    color: light-dark(#d06f00, #ffa238);
  }

  & .ace_marker-layer .ace_selection {
    background-color: hsla(from var(--uclearn-color-complete) h s 50 / .3);
  }

  & .ace_marker-layer .ace_step {
    background-color: hsla(from var(--uclearn-color-warning) h s l / .3);
  }

  & .ace_marker-layer .ace_bracket {
    border: 1px solid #80808080;
  }

  & .ace_gutter-active-line, & .ace_marker-layer .ace_active-line {
    background-color: #80808010;
  }

  & .ace_marker-layer .ace_selected-word {
    background-color: var(--uclearn-hover-tint);
    border: none;
  }

  & .ace_gutter-cell {
    border: none;
  }

  & #page-question-type-coderunner .ui_wrapper, & .que.coderunner .ui_wrapper {
    border: none !important;
  }

  & .sortable-code ul {
    border-radius: var(--uclearn-radius);
    padding: calc(var(--uclearn-radius) / 2);
  }
}

:root:root:root:root:root:root:root:root {
  & .path-mod-quiz #mod_quiz_navblock {
    & .mod_quiz-section-heading {
      letter-spacing: .5px;
      border-bottom: 1px solid;
      margin-bottom: .2rem;
      font-size: 1.15rem;
      font-weight: normal;
    }

    & .qnbutton {
      border-radius: var(--uclearn-radius);
      height: auto;
      padding-block: calc(var(--uclearn-radius) / 2);
      text-shadow: 1px 1px 6px var(--uclearn-shadow-color);
      background-color: #0000;
      margin-right: 0;
      overflow: hidden;
      color: inherit !important;

      & .thispageholder {
        border: none;
      }

      &:is(:hover, :focus-visible) {
        background-color: var(--uclearn-hover-tint);

        & .trafficlight {
          background-position: 50% 105%;
        }
      }

      &:active {
        background-color: var(--uclearn-active-tint);
      }

      &.thispage {
        & .thispageholder {
          border: 2px solid var(--uclearn-color-complete);
          border-radius: var(--uclearn-radius);
          width: 100%;
          height: 100%;
        }

        & + & .thispageholder {
          border-left: none;
        }

        &:has( + &) .thispageholder {
          border-right: none;
        }
      }

      & + & {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        & .thispageholder {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      &:has( + &) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        & .thispageholder {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      & .trafficlight {
        --uclearn-accent-bg: var(--uclearn-background);
        z-index: -1;
        background-position: 50% 75%;
        border-radius: 0;
        width: 100%;
        height: 100%;
        margin-top: 0;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, background-position .15s ease-in-out;
        background-color: color-mix(in hsl, color-mix(in hsl, var(--uclearn-accent-bg) 60%, var(--uclearn-background) 40%), transparent 50%) !important;
      }

      &.notyetanswered .trafficlight {
        --uclearn-accent-bg: var(--uclearn-background);
      }

      &.complete .trafficlight, &.answersaved .trafficlight, &.requiresgrading .trafficlight {
        --uclearn-accent-bg: var(--uclearn-color-complete);
      }

      &.correct .trafficlight {
        --uclearn-accent-bg: var(--uclearn-color-success);
      }

      &.partiallycorrect .trafficlight, &.invalidanswer .trafficlight {
        --uclearn-accent-bg: var(--uclearn-color-warning);
      }

      &.notanswered .trafficlight, &.incorrect .trafficlight {
        --uclearn-accent-bg: var(--uclearn-color-error);
      }
    }
  }
}

:root:root:root:root:root:root:root:root {
  background-image: linear-gradient(0deg, var(--uclearn-translucent-bg), var(--uclearn-translucent-bg)), var(--uclearn-bg-url);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  &.uclearn-dark-mode {
    color-scheme: dark;
  }

  & img[src^="https://learn.canterbury.ac.nz/pix/"] {
    filter: var(--uclearn-translucent-filter);
  }

  & a:has(img[src^="https://learn.canterbury.ac.nz/pix/"]) {
    align-items: center;
    gap: .5rem;
    display: inline-flex;
  }

  & .block_html div:not(:has( > :not(a))) {
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    display: flex;

    & > a {
      padding: 0 !important;
    }
  }

  @media (prefers-color-scheme: dark) {
    & img[src^="https://learn.canterbury.ac.nz/pix/"] {
      filter: var(--uclearn-translucent-filter) invert(1) hue-rotate(180deg);
    }

    & .navbar .logo, & img.icon, & #logoimage {
      filter: invert() hue-rotate(180deg);
    }

    & img[src="https://learn.canterbury.ac.nz/theme/image.php/boost_union/core/1737599580/u/f1"] {
      filter: brightness(.5) contrast(3) brightness(.6);
    }

    & .block-timeline [data-region="no-events-empty-message"] img {
      filter: brightness(.3) contrast(1.5);
      opacity: .5;
    }
  }

  & #page-wrapper .graphimage {
    filter: var(--uclearn-translucent-filter);
    user-select: none;
    width: calc(100% + 60px);
    margin: -30px;
  }

  & .userinitials {
    background-color: var(--uclearn-background);
    color: var(--uclearn-foreground-muted);
  }

  & .courseindex .completioninfo {
    order: 1;
  }

  & .formulation {
    color: inherit !important;
    background-color: #0000 !important;
    border-color: currentColor !important;
  }
}
