:root:root:root:root:root {
	--uclearn-foreground: light-dark(black, white);
	--uclearn-background: light-dark(white, #1e1e1e);

	--uclearn-translucent-bg: hsla(from var(--uclearn-background) h s l / 0.6);
	--uclearn-bg-effect: blur(10px);

	--uclearn-hover-tint: #80808060;

	--uclearn-accent-color: #ce3e2e;

	background-image: linear-gradient(0deg, var(--uclearn-translucent-bg), var(--uclearn-translucent-bg)), var(--uclearn-bg-url);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;

	/* Theme */
	&.uclearn-dark-mode {
		color-scheme: dark;
	}

	@media (prefers-color-scheme: dark) {
		.navbar img {
			filter: invert(1) hue-rotate(180deg);
		}
	}

	/* Resets */
	/* * {
		min-width: 0;
		min-height: 0;
	} */

	body {
		color: var(--uclearn-foreground);
		background-color: transparent;
	}

	.bg-white {
		background-color: transparent !important;
	}

	#page.drawers .drawer-right-toggle {
		margin-right: 0;
	}

	.drawer-toggler .btn {
		border: none;
	}

	.btn {
		color: inherit;
	}

	.navigation,
	#region-main,
	.drawer {
		background-color: transparent;
	}

	#page .main-inner {
		background-color: transparent;
		padding: 15px 0;
	}

	/* Shape Buttons */

	.navbar :where(.nav-item, .dropdown, #usernavigation .nav-link),
	.drawer-toggler .btn,
	.drawertoggle.btn {
		background-color: transparent;
		box-shadow: inset 0 0 transparent, inset 0 0 0 100vmax transparent;
		transition: box-shadow 250ms ease;

		&:is(:hover, :focus-visible) {
			box-shadow: inset 0 0 transparent, inset 0 0 0 100vmax var(--uclearn-hover-tint);
		}
	}

	.navbar .nav-item:has(.nav-link:focus-visible),
	#usernavigation .nav-link:focus-visible {
		box-shadow:
			inset 0 0 0 .2rem var(--uclearn-accent-color),
			inset 0 0 0 100vmax var(--uclearn-hover-tint) !important;
	}

	.drawer-toggler .btn:focus-visible,
	.drawertoggle.btn:focus-visible {
		box-shadow:
			0 0 0 .2rem var(--uclearn-accent-color),
			inset 0 0 0 100vmax var(--uclearn-hover-tint) !important;
	}

	/* Frosted */
	.drawer-toggler .btn {
		background-color: var(--uclearn-translucent-bg);
		backdrop-filter: var(--uclearn-bg-effect);
	}

	.navbar,
	#page .main-inner,
	.drawer {
		background-color: transparent;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			z-index: -1;
			background-color: var(--uclearn-translucent-bg);
			backdrop-filter: var(--uclearn-bg-effect);
			border-radius: inherit;
		}
	}

	/* Navigation */
	.navbar, .moremenu,
	.navigation .nav-link {
		height: auto;
	}

	.navbar :is(.navbar-brand, .logo) {
		width: auto !important;
		height: 100% !important;
		max-width: unset;
	}

	.navbar .nav-link {
		padding-inline: 1em;
		background-color: transparent;
	}

	.navigation .nav-link:focus {
		box-shadow: none !important;
	}

	.navbar :is(.nav-link, .dropdown) {
		color: var(--uclearn-foreground);
	}

	.navbar .edit-mode-switch-form .input-group {
		margin-top: 3px;

		.custom-control-label::before,
		.custom-control-label::after {
			top: 0;
		}
	}

	/* Sectioning */
	.block-region {
		display: flex;
		flex-flow: column;
		gap: 8px;

		>:empty {
			display: none;
		}
	}

	.card:not(.block_multiblock), .card:has(.multiblock-tabbed-list) {
		background-color: var(--uclearn-translucent-bg);
		margin: 0;
	}

	/* Layout */

	#page-footer, #footnote {
		display: none;
	}

	#page-header {
		max-width: unset !important;
		margin-inline: -0.5rem;
		padding-inline: calc(15px + 0.5rem);
		padding-bottom: 8px;

		&:has(+ .secondary-navigation) {
			margin-bottom: 0;
		}
	}

	#page-wrapper {
		display: grid;
		grid: [navbar] max-content [navbar-end page] 1fr [page-end] / [far-left drawer-left] max-content [drawer-left-end page-left] 1fr [page-right drawer-right] max-content [drawer-right-end scrollbar-gutter far-right] min-content [scrollbar-gutter-end];
		overflow: hidden;
		width: 100%;

		.navbar {
			grid-area: navbar / far-left / navbar-end / far-right;
		}

		#page {
			grid-area: navbar / page-left / page-end / scrollbar-gutter-end;
			margin-inline: 0 !important;
			overflow-y: auto;
			margin-top: 0;
			display: grid;
			grid-template-rows: subgrid;
			grid-template-columns: subgrid;
			z-index: 10;
			pointer-events: none;

			>* {
				grid-area: page / page-left / page-end / page-right;
				min-height: 0;
				pointer-events: all;
				/* contain: content;
				height: fit-content; */
			}
		}
	}

	/* Drawers */

	.drawer, .drawer[data-region], #page, .navbar {
		position: relative !important;
		top: unset;
		left: unset;
		right: unset;
		min-height: 0;
		height: auto;
	}

	.drawer {
		height: auto;
		transition: margin-left 0.2s ease, margin-right 0.2s ease, visibility 0.2s ease;
		overflow-x: hidden;
		overflow-y: auto;
		display: grid;
		grid-template-rows: [a] max-content [b] max-content [c];

		&.scrolled {
			box-shadow: inset 0 8px 11px -7px rgb(0 0 0 / .25);
		}

		/* specificy */
		#page-wrapper &::before {
			/* position: fixed; */
			inset: auto;
			width: 100%;
			height: 100%;
			display: block;
			grid-row: a / c;
		}

		.drawercontent {
			height: auto;
			overflow-y: hidden;
			grid-row: b / c;
		}

		.drawerheader {
			height: auto;
			grid-row: a / b;
			position: sticky;
			top: 0;
			box-shadow: none;
			padding-top: 10px;
		}
	}

	.drawer-left, [data-region=left-hand-drawer].drawer {
		grid-area: page / drawer-left / page-end / drawer-left-end;
		/* border-right: var(--border-style) currentColor; */
	}

	.drawer-right, [data-region=right-hand-drawer].drawer {
		grid-area: page / drawer-right / page-end / drawer-right-end;
		z-index: 5;
		/* border-left: var(--border-style) currentColor; */
	}

	.drawer-left:not(.show) {
		margin-left: -285px;
	}

	.drawer-right:not(.show) {
		margin-right: -315px;
	}

	.drawer.hidden[data-region=left-hand-drawer] {
		/* TODO */
		margin-left: -320px;
	}

	.drawer.hidden[data-region=right-hand-drawer] {
		margin-right: -320px;
	}

	#page.drawers, .drawer {
		scrollbar-color: var(--uclearn-foreground) var(--uclearn-translucent-bg);
		scrollbar-width: thin;
	}

	.drawer-right {
		transform: scaleX(-1);

		>* {
			transform: scaleX(-1);
		}
	}

	#page :has(.drawer-toggles) {
		scrollbar-width: inherit;
	}

	.drawer-toggles {
		position: fixed;
		inset: auto 0;
		overflow-y: auto;
		scrollbar-gutter: stable;
		scrollbar-width: inherit;
		pointer-events: none;
		padding-block: 10px;
		margin-top: -10px;

		.drawer-toggler {
			position: static;
			pointer-events: all;

			.btn {
				transition: padding 250ms ease, box-shadow 250ms ease;
			}
		}

		.drawer-right-toggle {
			clip-path: inset(-100vmax 0 -100vmax -100vmax);
		}
	}

	/* @media (max-width: var(--breakpoint-lg, 992px)) {
		:root #page {
			grid-area: navbar / far-left / page-end / far-right;
			margin-inline: 0 !important;
		}
	} */
}
