::-moomo-vars {
	--uclearn-background-image: var(--uclearn-custom-bg-blob);

	--uclearn-foreground: light-dark(black, white);
	--uclearn-background: light-dark(white, #1e1e1e);
	--uclearn-foreground-muted: hsl(
		from var(--uclearn-foreground) h s calc(20 + 0.6 * l)
	);

	--uclearn-translucent-bg: rgb(from var(--uclearn-background) r g b / 0.7);
	--uclearn-bg-effect: var(--uclearn-filter-noiseblur);

	--uclearn-hover-tint: #80808040;
	--uclearn-active-tint: #80808080;

	--uclearn-accent-color: #ce3e2e;
	--uclearn-shadow-color: #00000080;
	--uclearn-color-error: #ff0000;
	--uclearn-color-warning: #ffff00;
	--uclearn-color-success: #00ff00;
	--uclearn-color-complete: #0060bf;
	--uclearn-color-code: #ff008c;

	--uclearn-color-link: color-mix(
		in srgb,
		var(--uclearn-foreground) 50%,
		#0060bf 50%
	);

	--uclearn-radius: 10px;
	--uclearn-gap: 5px;
	--uclearn-gap-large: 15px;

	--uclearn-focus-shadow: 0 0 0 0.15rem #0f6cbf, 0 0 0 0.3rem #0f6cbfbf;
	--uclearn-focus-shadow-inset: inset 0 0 0 0.15rem #0f6cbf,
		inset 0 0 0 0.3rem #0f6cbfbf;

	--uclearn-transition-short-duration: 250ms;
	--uclearn-transition-short-function: ease;
	--uclearn-transition-short: var(--uclearn-transition-short-duration)
		var(--uclearn-transition-short-function);
}

::-moomo-dropdown-container {
	&::before {
		content: "";
		background-color: var(--uclearn-translucent-bg);
		backdrop-filter: var(--uclearn-bg-effect);
		z-index: -1;
		border-radius: inherit;
		position: absolute;
		inset: 0;
	}
}

::-moomo-dropdown-container {
	&::before {
		border: 1px solid transparent;
		background-clip: padding-box;
	}
}

::-moomo-dropdown-container {
	box-shadow: 1px 2px 5px var(--uclearn-shadow-color);
	border-radius: var(--uclearn-radius);
}

::-moomo-dropdown {
	display: flex;
	flex-flow: column;
	overflow-y: auto;
	gap: var(--uclearn-gap);
	padding-block: var(--uclearn-gap);

	::-moomo-dropdown-item {
		transition: background-color var(--uclearn-transition-short),
			box-shadow var(--uclearn-transition-short);
		margin-inline: var(--uclearn-gap);
		border-radius: calc(var(--uclearn-radius) - var(--uclearn-gap));
		padding: 0.3rem;
		padding-left: 1ch !important;
		text-overflow: ellipsis;
		
		&.d-inline-flex {
			display: grid !important;
		}
		
		&:-moomo-dropdown-item-with-icon, &:-moomo-checked {
			display: grid;
			grid-auto-flow: column;
			grid-template-columns: max-content;
			grid-auto-columns: auto;
			gap: 0.8ch;
			align-items: center;
			padding-left: 0.3rem !important;
		}

		&:-moomo-hover {
			background-color: var(--uclearn-hover-tint);
			box-shadow: 1px 2px 7px -2px var(--uclearn-shadow-color);
		}

		&:-moomo-active,
		&:-moomo-checked {
			background-color: var(--uclearn-active-tint);
			box-shadow: 1px 2px 6px -1px var(--uclearn-shadow-color);
		}

		&:-moomo-checked::after {
			content: "";
			height: 80%;
			aspect-ratio: 1;
			background-color: currentColor;
			mask-image: var(--uclearn-icon-check);
			mask-size: cover;
			mask-mode: alpha;
			justify-self: end;
		}
	}

	::-moomo-dropdown-divider {
		border-color: var(--uclearn-active-tint);
	}
}
